<% 
  require 'pp'
  require "onboard/extensions/string"
  require "onboard/network/interface"
%>

<% if objects == nil %>

      <h2>No IP addresses</h2>
      <div class="item"><pre> </pre></div>

<% elsif objects.class == Array %>

      <h2>IP addresses</h2>
      <% objects.each do |ip| %>
        <a href="<%= request.path_info.to_dir + '/' + ip.addr.to_s + '.html' %>">
          <div class="item">
            <pre><%= html_escape ip.pretty_inspect %></pre>
          </div>
        </a>
      <% end %>

<% else %>

      <% ip = objects %>
      <h2>IP address: <%= ip.addr.to_s %>/<%= ip.prefixlen %></h2>
      <div class="item">
        <pre><%= html_escape ip.pretty_inspect %></pre>
      </div>

<% end %>

