<%
  require 'onboard/network/bridge'

  require 'onboard/virtualization/qemu'

  virtual_machines = objects
  all_bridges = OnBoard::Network::Bridge.get_all
%>

<style type="text/css">
  table thead tr th {
    padding: 0.3em 0.4em;
  }
  table thead tr th div.optinfo {
    text-align: center;
    line-height: 1.2em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
  }
  table thead tr th div.optinfo p {
    margin: 0;
    padding: 0;
    line-height: 1em;
  }
  table tbody tr td.vminfo {
    padding-left:   1ex;
    padding-right:  1ex;
  }
  .vmdetails {
    font-size: 95%;
  }
  table#vmlist tbody tr td.button {
    padding-left:   3px;
    padding-right:  3px;
    border-left: none;
    border-right: none;
  }
  table#vmlist tbody tr td.vmscreenshot {
    padding-bottom: 0;  
  }
  table#vmlist tbody tr td.vmnetwork table{
    width: 100%;
  }
  table#vmlist tbody tr td.vmnetwork table tr td {
    border: none;
    white-space: nowrap; 
  }
  table#vmlist tbody tr td.vmnetwork table tr td.vlan {
    width: 4em;
  }
  table#vmlist tbody tr td.vmnetwork table tr td.ifname {
    width: 9em;
  }
  ul.drives {
    list-style: none;
    padding: 0;
    margin: 4px 0;
  }
  ul.drives li.drive {
    white-space: nowrap;
  }
  ul.drives li.drive button {
    margin: 0;
  }
  img.drive {
    vertical-align: middle;
  }
</style>

<script type="text/javascript">
  function popup_filechooser(target) {
    var popup = window.open('/jqueryFileTree/popup.html', 'Choose File', 'width=300,height=300');
    popup.target = target;
  }
  function qemuImgCreateControls() {
    var checkbox = document.getElementById('qemu-img_create_checkbox');
    if ( checkbox.checked ) {
      document.getElementById('disk').disabled = true;
      document.getElementById('qemu-img_create_size').disabled = false;
      document.getElementById('qemu-img_create_fmt' ).disabled = false;
    } else {
      document.getElementById('disk').disabled = false;
      document.getElementById('qemu-img_create_size').disabled = true;
      document.getElementById('qemu-img_create_fmt' ).disabled = true;
    }
  }
  function qemuNetIfControls() {
    var i = 0;
    var typeSelect;
    while(typeSelect = document.getElementById('net[' + i + '][type]')) {
      switch(typeSelect.value) {
        case 'none':
          document.getElementById('net[' + i + '][vlan]'    ).disabled = true;
          document.getElementById('net[' + i + '][ifname]'  ).disabled = true;
          document.getElementById('net[' + i + '][bridge]'  ).disabled = true;
          document.getElementById('net[' + i + '][model]'   ).disabled = true;
          document.getElementById('net[' + i + '][macaddr]' ).disabled = true;
          break;
        case 'user':
          document.getElementById('net[' + i + '][vlan]'    ).disabled = false;
          document.getElementById('net[' + i + '][ifname]'  ).disabled = true;
          document.getElementById('net[' + i + '][bridge]'  ).disabled = true;
          document.getElementById('net[' + i + '][model]'   ).disabled = false;
          document.getElementById('net[' + i + '][macaddr]' ).disabled = false;
          break;
        case 'tap':
          document.getElementById('net[' + i + '][vlan]'    ).disabled = false;
          document.getElementById('net[' + i + '][ifname]'  ).disabled = false;
          document.getElementById('net[' + i + '][bridge]'  ).disabled = false;
          document.getElementById('net[' + i + '][model]'   ).disabled = false;
          document.getElementById('net[' + i + '][macaddr]' ).disabled = false;
          break;
      }
      i++;
    }
  }
</script>

<%= message_partial(msg) %>

<h2>QEMU / kvm</h2>

<h3>Virtual Machines</h3>

<table id="vmlist">
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="4">Actions</th>
      <th>
        VM Details 
      </th>
      <th>
        Drives
        <div class="optinfo">
          Change / Eject removable media at runtime
        </div>
      </th>
      <th>
        Network Interfaces
      </th>
      <th>Screenshot</th>
      <th>VNC Display<div class="optinfo">Uses TCP port 5900 + n</div></th>
    </tr>
  </thead>
  <tbody>
    <form method="POST">
      <input type="hidden" name="_method" value="put"/>
      <% virtual_machines.each do |vm| %>
        <tr>
          <td class="vminfo<%= ' error' if vm.status =~ /error/i %>">
            <%= vm.status %>
          </td>

          <!-- action buttons -->
          <td class="button">
            <%=
              if vm.running?
                action_button(
                  :shutdown,
                  :name     => 'powerdown[uuid]',
                  :title    =>
'ACPI Shutdown (may require some time to cleanly power off)',
                  :value    => vm.uuid
                )
              else
                action_button(
                  :start,                 
                  :name     => 'start[uuid]',
                  :title    => 'Start (resuming a saved state, if available)',
                  :value    => vm.uuid
                ) 
              end
            %>
          </td>
          <td class="button">
            <%= 
              if vm.running?
                if vm.paused?
                  action_button(
                    :start, 
                    :name     => 'resume[uuid]', 
                    :title    => 'Resume from Pause',
                    :value    => vm.uuid
                  )
                else
                  action_button(
                    :pause, 
                    :name     => 'pause[uuid]', 
                    :title    => 'Pause',
                    :value    => vm.uuid
                  ) 
                end
              else
                action_button(
                  :start_paused, 
                  :name     => 'start_paused[uuid]', 
                  :title    => 
'Start paused (so you have time to open a VNC client etc.)',
                  :value    => vm.uuid
                ) 
              end 
            %>
          </td>
          <td class="button">
            <%=
              action_button(
                :stop,
                :name     => 'savevm_quit[uuid]',
                :title    => 'Quit Virtualization and save current state',
                :value    => vm.uuid,
                :disabled => !vm.running?
              ) 
            %>
          </td>
          <td class="button">
            <%=
              action_button(
                :delete,
                :name     => 'delete[uuid]',
                :title    => 'Delete!',
                :value    => vm.uuid,
                :disabled => vm.running?
              )
            %>
          </td>

          <!-- <td class="vminfo"><a title="Machine UUID = <%= vm.config.uuid %>" href="qemu/vm/<%= vm.config.uuid_short %>.html"><%= (vm.config.opts['-name'] =~ /\S/) ? vm.config.opts['-name'] : vm.config.uuid_short %></a></td> -->

          <td class="vminfo">
            <a title="Machine UUID = <%= vm.config.uuid %>" href="">
              <%= 
                (vm.config.opts['-name'] =~ /\S/) ? 
                    vm.config.opts['-name']       : 
                    vm.config.uuid_short 
              %>
            </a>
            <div class="vmdetails">
              RAM: <%= vm.config.opts['-m'] %>&nbsp;MB 
            </div>
          </td>
          <td class="vmdetails">
            <ul class="drives">
              <% vm.drives.each_pair do |name, h| %>
                <% if h['config'] %>
                  <li class="drive <%= h['config']['media'] %>" title="<%= name %>">
                    <%= drive_icon h['config']['media'], :title => name %>
                    <%
                      file      = vm.running? ? h['file'] : h['config']['file']
                      inserted  = !h['tray-open'] && file
                      disabled  = 
                          (vm.running? && h['removable']) ? 
                          ''                              : 
                          'disabled' 
                      onclick   = ''
                      if vm.running? and h['removable'] and not inserted
                        onclick   = 'javascript:popup_filechooser(this);'
                      end
                      showed_path = ''
                      if h['removable']
                        showed_path = 
                            inserted                                          ?
                            OnBoard::V12n::QEMU::Img.relative_path(file) :
                            '[choose an image]'
                      else
                        showed_path = 
                            OnBoard::V12n::QEMU::Img.relative_path(file)
                      end
                    %>
                    <input <%= disabled %> onclick="<%= onclick %>" type="text" name="drive[<%= vm.config.uuid %>][<%= name %>][file]" value="<%= showed_path %>" title="<%= name %>: <%= inserted ? showed_path : '[not inserted]' %>"/>
                    <% if h['removable'] %>
                      <button title="Eject / Change media" name="drive[<%= vm.config.uuid %>][<%= name %>][action]" value="<%= inserted ? 'eject' : 'change' %>" type="submit"><%= drive_icon :eject %></button>
                    <% end %>
                  </li>
                <% end %>
              <% end if vm.drives.respond_to? :each_pair %>
            </ul>
          </td>

          <!-- Network Interfaces -->
          <td class="vmnetwork">            
            <table>
              <% vm.config['-net'].each do |netif| %>
                <% next if netif['type'] == 'nic' %>
                <tr>
                  <td class="vlan">VLAN#<%= netif['vlan'] %></td>
                  <td class="ifname"><em><%= netif['type'] %></em><%= %Q{: <a href="/network/interfaces.html">#{netif['ifname']}</a>} if netif['ifname'] =~ /\S/ %></td>
                  <td class="bridge"><%= %Q{<em>Bridged to</em>: <a href="/network/bridges.html">#{netif['bridge']}</a>} if netif['bridge'] =~ /\S/ %></td>
                </tr>
              <% end if vm.config['-net'].respond_to? :each %>
            </table>
          </td>

          <td class="vmscreenshot">
            <% if vm.running? %>
              <% screenshot_path = "qemu/vm/#{vm.uuid_short}/screen.png" %>
              <a class="img" href="<%= screenshot_path %>"><img src="<%= screenshot_path %>" style="width:200px"/></a>
            <% end %>
          </td>
          <td class="vminfo" style="text-align:right">
            <% vnc_uri = "vnc://#{request.host}#{vm.config.opts['-vnc']}"%>
            <% if vm.running? %>
              <a href="<%= vnc_uri %>" title="<%= vnc_uri %>">
            <% end %>
                <%= vm.config.opts['-vnc'] %>
            <% if vm.running? %>
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </form>
  </tbody>
</table>

<h3>Create a new VM</h3>

<form method="POST">

  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th title="A descriptive name" scope="row">Name</th>
        <td>
          <input type="text" name="name"/>
        </td>
      </tr>
      <tr> 
        <th scope="row">CD/DVD image (optional)</th>
        <td>
          <input type="text" name="cdrom" id="cdrom" onclick="javascript:popup_filechooser(this);" />
        </td>
      </tr>
      <tr>
        <th scope="row">
          Hard Disk Image
          <div class="optinfo">Choose existing</div>
        </th>
        <td>
          <input type="text" name="disk" id="disk" onclick="javascript:popup_filechooser(this);" /> 
        </td>  
      </tr>
      <tr>
        <th scope="row">
          <div class="optinfo">
            Or create a new one 
            <span style="vertical-align:middle; margin: 0 0 0 2em">
              <input title="Check this box to create a new disk image" style="vertical-align:middle;" type="checkbox" name="qemu-img[create]" id="qemu-img_create_checkbox" onClick="javascript:qemuImgCreateControls()"/>
            </span>
          </div>        
        </th> 
        <td>
          &nbsp;Size <input type="text" name="qemu-img[size][G]" id="qemu-img_create_size" size="2" value="8" style="text-align:right" disabled/>GB;
          &nbsp;Format <select name="qemu-img[fmt]" id="qemu-img_create_fmt" disabled>
            <option value="qcow2">QCOW2 (recommended)</option>
            <option value="raw">Raw</option>
            <!-- exclude "alien" image formats for now... -->
          </select>   
        </td>
      </tr> 
      <tr>
        <th scope="row">RAM</th>
        <td><input style="text-align:right" type="text" name="m" size="5" value="256"/> MB <!-- names recall cmdline opts --></td> 
      </tr>
      <tr>
        <th scope="row">VNC Display</th>
        <td>
          <select name="vnc">
            <% 1.upto(31) do |n| %>
              <% 
                available = OnBoard::V12n::QEMU::VNC::Display.available
                selected = ''
                disabled = ''
                selected = 'selected' if      n == available.first
                disabled = 'disabled' unless  available.include? n
              %>
              <option <%= selected %> <%= disabled %> value=":<%= n %>">:<%= n %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Keyboard layout
          <div class="optinfo">For VNC, etc.</div>
        </th>
        <td>
          <select name="k">
            <option value=""></option>
            <% OnBoard::V12n::QEMU::Config::KEYBOARD_LAYOUTS.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Network Interfaces</h4>
  <table>
    <thead>
      <tr>
        <th>VLAN</th>
        <th>Type</th>
        <th>
          Name (visible in the host)
          <div class="optinfo">
            <p>For TAP interfaces only.</p>
            <p>Choose something descriptive, if possible.</p>
          </div>
        </th>
        <th>
          Bridge to
          <div class="optinfo">
            <p>For TAP interfaces only.</p>
            <p>You can manage bridges <a href="/network/bridges.html">here</a>.</p>
          </div>
        </th>
        <th>Hardware</th>
        <th>MAC Address</th>
      </tr>
    </thead>
    <tbody>
      <% nn = 5 %>
      <% 0.upto nn do |n| %>
        <tr>
          <td>
            <select id="net[<%= n %>][vlan]" name="net[][vlan]">
              <% 0.upto nn do |vlan| %>
                <option <%= 'selected' if vlan == n %> value="<%= vlan %>"><%= vlan %></option> 
              <% end %>
            </select>
          </td>
          <td>
            <select onclick="javascript:qemuNetIfControls();" id="net[<%= n %>][type]" name="net[][type]">
              <option <%= 'selected' if n >   0   %> value="none">(none)</option>
              <option <%= 'selected' if n ==  0   %> value="user" title="For simpler setups, not recommended for servers">User/Default</option>
              <option value="tap" title="Virtual Ethernet, recommended for servers and advanced setups">TAP</option>
            </select>
          </td>
          <td>
            <input type="text" maxlength="15" id="net[<%= n %>][ifname]" name="net[][ifname]" value="[auto]"/>
          </td>
          <td>
            <select id="net[<%= n %>][bridge]" name="net[][bridge]"> 
              <option value="">(none)</option>
              <% all_bridges.each do |br| %>
                <option value="<%= br.name %>"><%= br.name %></option>
              <% end %>
            </select>
          </td>
          <td>
            <select id="net[<%= n %>][model]" name="net[][model]">
              <option value="">(default)</option>
              <% OnBoard::V12n::QEMU::Network::NIC.models.sort.each do |model| %>
                <option value="<%= model %>"><%= model %></option> 
              <% end %>
            </select>
          </td>
          <td><input type="text" id="net[<%= n %>][macaddr]" name="net[][macaddr]" value="[auto]"/></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <button style="margin-top:2ex;" type="submit">Create!</button>
</form>

<script type="text/javascript">
  qemuNetIfControls();
</script>
