<%
  require 'pp'

  vms = objects
%>

<script type="text/javascript">
  function popup_filechooser() {
    var popup = window.open('/jqueryFileTree/popup.html', 'Choose File', 'width=300,height=300');
    popup.target = document.getElementById('drive');
  }
</script>

<h2>QEMU / kvm</h2>

<h3>Virtual Machines</h3>

<table>
  <thead>
    <tr>
      <th>Running?</th>
      <th>Name or ID</th>
      <th>Drives</th>
      <th>Network</th>
      <th>VNC Display<div class="optinfo" style="text-align:center;">Uses TCP port<br/>5900 + n</div></th>
    </tr>
  </thead>
  <tbody>
<% vms.each do |vm| %>
    <tr>
      <td style="text-align:center"><%= yes_no_icon(false, :print_no) %></td>
      <td><a title="Machine UUID = <%= vm.config.uuid %>" href="qemu/vm/<%= vm.config.uuid_short %>.html"><%= (vm.config.opts['-name'] =~ /\S/) ? vm.config.opts['-name'] : vm.config.uuid_short %></a></td>
      <td>
        <pre><%== vm.config.opts['-drive'][0].pretty_inspect %></pre>
      </td>
      <td></td>
      <td style="text-align:right;padding:0 1em;"><%= vm.config.opts['-vnc'] %></td>
    </tr>
<% end %>
  </tbody>
</table>

<h3>Create a new VM</h3>

<form method="POST">
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th title="A descriptive name" scope="row">Name</th>
        <td>
          <input type="text" name="name"/>
        </td>
      </tr>
      <tr>
        <th scope="row">Disk Image</th>
        <td>
          <input type="text" name="drive[][file]" id="drive" onclick="javascript:popup_filechooser();" /> 
        </td>  
      </tr>
      <tr>
        <th scope="row"><div class="optinfo">Or create a new disk</div></th> 
        <td>
          <span style="vertical-align:middle;">
            <input title="Check this box to confirm" style="vertical-align:middle;" type="checkbox" name="qemu-img[create]"/> 
          </span>
          &nbsp;Size <input type="text" name="qemu-img[size]" size="2" value="8" style="text-align:right"/>GB;
          &nbsp;Format <select name="qemu-img[fmt]">
            <option value="qcow2">QCOW2 (recommended)</option>
            <option value="raw">Raw</option>
            <!-- exclude "alien" image formats for now... -->
          </select>   
        </td>
      </tr> 
      <tr>
        <th scope="row">RAM</th>
        <td><input style="text-align:right" type="text" name="m"size="5" value="256"/> MB <!-- names recall cmdline opts --></td> 
      </tr>
      <tr>
        <th scope="row">VNC Display</th>
        <td>
          <select name="vnc">
            <% 1.upto(31) do |n| %>
              <option value=":<%= n %>">:<%= n %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Create!</button>
</form>
