<%
  require 'pp'

  require 'onboard/virtualization/qemu/config'

  virtual_machines = objects
%>

<style type="text/css">
  table#vmlist tbody tr td.vminfo {
    padding-left:   1ex;
    padding-right:  1ex;
  }
  table#vmlist tbody tr td.button {
    padding-left:   3px;
    padding-right:  3px;
  }
</style>

<script type="text/javascript">
  function popup_filechooser(target) {
    var popup = window.open('/jqueryFileTree/popup.html', 'Choose File', 'width=300,height=300');
    popup.target = target;
  }
  function qemuImgCreateControls() {
    var checkbox = document.getElementById('qemu-img_create_checkbox');
    if ( checkbox.checked ) {
      document.getElementById('disk').disabled = true;
      document.getElementById('qemu-img_create_size').disabled = false;
      document.getElementById('qemu-img_create_fmt' ).disabled = false;
    } else {
      document.getElementById('disk').disabled = false;
      document.getElementById('qemu-img_create_size').disabled = true;
      document.getElementById('qemu-img_create_fmt' ).disabled = true;
    }
  }
</script>

<%= message_partial(msg) %>

<h2>QEMU / kvm</h2>

<% if virtual_machines.any? %>

  <h3>Virtual Machines</h3>

  <table id="vmlist">
    <thead>
      <tr>
        <th>Status</th>
        <th colspan="5">Actions</th>
        <th>
          Name or ID
          <div class="optinfo">Click to access detailed configuration</div>
        </th>
        <th>VNC Display<div class="optinfo" style="text-align:center;">Uses TCP port 5900+n</div></th>
      </tr>
    </thead>
    <tbody>
      <form method="POST">
        <input type="hidden" name="_method" value="put"/>
        <% virtual_machines.each do |vm| %>
          <tr>
            <td class="vminfo<%= ' error' if vm.status =~ /error/i %>">
              <%= vm.status %>
            </td>

            <!-- action buttons -->
            <td class="button">
              <%= 
                if vm.running?
                  if vm.paused?
                    action_button(
                      :start, 
                      :name     => 'resume[uuid]', 
                      :title    => 'Resume VM',
                      :value    => vm.uuid
                    )
                  else
                    action_button(
                      :pause, 
                      :name     => 'pause[uuid]', 
                      :title    => 'Pause VM',
                      :value    => vm.uuid
                    ) 
                  end
                else
                  action_button(
                    :start, 
                    :name     => 'start[uuid]', 
                    :title    => 'Start',
                    :value    => vm.uuid
                  )
                end 
              %>
            </td>
            <td class="button">    
              <%= 
                action_button(
                  :start_paused, 
                  :name     => 'start_paused[uuid]', 
                  :title    => 'Start paused (so you have time to open a vnc client etc.)',
                  :value    => vm.uuid,
                  :disabled => (vm.running?)
                ) 
              %>
            </td>
            <td class="button">
              <%=
                action_button(
                  :stop,
                  :name     => 'powerdown[uuid]',
                  :title    => 'ACPI Shutdown',
                  :value    => vm.uuid,
                  :disabled => (vm.paused? or not vm.running?)
                ) 
              %>
            </td>
            <td class="button">
              <%=
                action_button(
                  :process_stop,
                  :name     => 'quit[uuid]',
                  :title    => 'Kill QEMU process (may cause data corruption in the guest)',
                  :value    => vm.uuid,
                  :disabled => !vm.running?
                ) 
              %>
            </td>
            <td class="button">
              <%=
                action_button(
                  :delete,
                  :name     => 'delete[uuid]',
                  :title    => 'Delete VM!',
                  :value    => vm.uuid,
                  :disabled => vm.running?
                )
              %>
            </td>

            <td class="vminfo"><a title="Machine UUID = <%= vm.config.uuid %>" href="qemu/vm/<%= vm.config.uuid_short %>.html"><%= (vm.config.opts['-name'] =~ /\S/) ? vm.config.opts['-name'] : vm.config.uuid_short %></a></td>
            <td class="vminfo" style="text-align:right"><%= vm.config.opts['-vnc'] %></td>
          </tr>
        <% end %>
      </form>
    </tbody>
  </table>

<% end %>

<h3>Create a new VM</h3>

<form method="POST">
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th title="A descriptive name" scope="row">Name</th>
        <td>
          <input type="text" name="name"/>
        </td>
      </tr>
      <tr>  
        <th scope="row">CD/DVD image (optional)</th>
        <td>
          <input type="text" name="cdrom" id="cdrom" onclick="javascript:popup_filechooser(this);" />
        </td>
      </tr>
      <tr>
        <th scope="row">
          Disk Image
          <div class="optinfo">Choose existing</div>
        </th>
        <td>
          <input type="text" name="disk" id="disk" onclick="javascript:popup_filechooser(this);" /> 
        </td>  
      </tr>
      <tr>
        <th scope="row">
          <div class="optinfo">
            Or create a new one 
            <span style="vertical-align:middle; margin: 0 0 0 2em">
              <input title="Check this box to create a new disk image" style="vertical-align:middle;" type="checkbox" name="qemu-img[create]" id="qemu-img_create_checkbox" onClick="javascript:qemuImgCreateControls()"/>
            </span>
          </div>        
        </th> 
        <td>
          &nbsp;Size <input type="text" name="qemu-img[size][G]" id="qemu-img_create_size" size="2" value="8" style="text-align:right" disabled/>GB;
          &nbsp;Format <select name="qemu-img[fmt]" id="qemu-img_create_fmt" disabled>
            <option value="qcow2">QCOW2 (recommended)</option>
            <option value="raw">Raw</option>
            <!-- exclude "alien" image formats for now... -->
          </select>   
        </td>
      </tr> 
      <tr>
        <th scope="row">RAM</th>
        <td><input style="text-align:right" type="text" name="m" size="5" value="256"/> MB <!-- names recall cmdline opts --></td> 
      </tr>
      <tr>
        <th scope="row">VNC Display</th>
        <td>
          <select name="vnc">
            <% 1.upto(31) do |n| %>
              <option value=":<%= n %>">:<%= n %></option>
            <% end %>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Keyboard layout
          <div class="optinfo">For VNC, etc.</div>
        </th>
        <td>
          <select name="k">
            <option value=""></option>
            <% OnBoard::V12n::QEMU::Config::KEYBOARD_LAYOUTS.each do |k| %>
              <option value="<%= k %>"><%= k %></option>
            <% end %>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit">Create!</button>
</form>
