<%
  require 'onboard/network/interface'
  require 'onboard/network/bridge'

  require 'onboard/virtualization/qemu'

  virtual_machines    = objects
  all_vm_uuids        = virtual_machines.map  { |vm| vm.uuid  }   

  all_netifs          = OnBoard::Network::Interface.get_all
  all_bridges         = all_netifs.select     { |i| i.bridge? }  
  all_running_ifnames = all_netifs.map        { |i| i.name    }        

%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_style'
  )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_js',
    :locals => {
      :all_vm_uuids => all_vm_uuids
    }
  )
%>

<%= message_partial(msg) %>

<h2>QEMU / kvm</h2>

<h3>Virtual Machines</h3>

<table id="vmlist">
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="4">Actions</th>
      <th>
        VM Details
        <div class="optinfo">
          Click on the name to edit configuration
        </div> 
      </th>
      <th>
        Drives
        <div class="optinfo">
          Change / Eject removable media at runtime
        </div>
      </th>
      <th>
        Network Interfaces
        <div class="optinfo">
          Static info
        </div>
      </th>
      <th style="width:202px;">Screen (and Remote Display)</th>
    </tr>
  </thead>
  <tbody>
    <form method="POST">
      <input type="hidden" name="_method" value="put"/>
      <% virtual_machines.each do |vm| %>
        <tr>
          <%
            extra_class = case vm.status
                          when /error/i
                            'error'
                          when /snapshot/i
                            'warn'
                          else
                            ''
                          end
          %>
          <td rowspan="2" class="vminfo <%= extra_class %>">
            <%= vm.status %>
          </td>

          <!-- action buttons -->
          <%# 
            DRYing this with a partial is complicated by heavy usage of
            colspan, rowspan, etc.
          %>
          <% show_saverestore = vm.running?             ?
                  vm.monitor.works? && vm.quick_snapshots?  :
                  vm.config['-loadvm']
          %>          
          <% action_button_rowspan = 1 %>
          <td class="button button_left" rowspan="<%= action_button_rowspan %>">
            <%=
              if vm.running?
                action_button(
                  :shutdown,
                  :name     => 'powerdown[uuid]',
                  :title    =>
'ACPI Shutdown (may require some time to cleanly power off)',
                  :value    => vm.uuid,
                  :disabled => vm.snapshotting?
                )
              else
                action_button(
                  :start,                 
                  :name     => 'start[uuid]',
                  :title    => 'Start',
                  :value    => vm.uuid,
                  :disabled => vm.snapshotting?
                ) 
              end
            %>
          </td>
          <td class="button" rowspan="<%= action_button_rowspan %>">
            <%= 
              if vm.running?
                if vm.paused?
                  action_button(
                    :start, 
                    :name     => 'resume[uuid]', 
                    :title    => 'Resume from Pause',
                    :value    => vm.uuid,
                    :disabled => vm.snapshotting?
                  )
                else
                  action_button(
                    :pause, 
                    :name     => 'pause[uuid]', 
                    :title    => 'Pause',
                    :value    => vm.uuid,
                    :disabled => vm.snapshotting?
                  ) 
                end
              else
                action_button(
                  :start_paused, 
                  :name     => 'start_paused[uuid]', 
                  :title    => 
'Start paused (so you have time to open a VNC client etc.)',
                  :value    => vm.uuid,
                  :disabled => vm.snapshotting?
                ) 
              end 
            %>
          </td>
          <td class="button" rowspan="<%= action_button_rowspan %>">
            <%=
              action_button(
                :stop,
                :name     => 'quit[uuid]',
                :id       => "quit[#{vm.uuid}]",
                :imgid    => "quit_button_img[#{vm.uuid}]",
                :alt      => '',
                :title    => 
                    "Quit Virtualization (beware: if you don&rsquo;t or can&rsquo;t save state, you may corrupt data!)",
                :value    => vm.uuid,
                :disabled => (!vm.running? or vm.snapshotting?)
              ) 
            %>
          </td>
          <td class="button button_right" rowspan="<%= action_button_rowspan %>">
            <%=
              action_button(
                :delete,
                :name     => 'delete[uuid]',
                :title    => 'Delete!',
                :value    => vm.uuid,
                :disabled => (vm.running? or vm.snapshotting?)
              )
            %>
          </td>

          <td rowspan="2" class="vminfo">
            <a title="Machine UUID = <%= vm.config.uuid %>" href="qemu/vm/<%= vm.config.uuid_short %>.html">
              <%= 
                (vm.config.opts['-name'] =~ /\S/) ? 
                    vm.config.opts['-name']       : 
                    vm.config.uuid_short 
              %>
            </a>
            <div class="vmdetails">
              RAM: <%= vm.config.opts['-m'] %>&nbsp;MB 
            </div>
          </td>
          <td rowspan="2" class="vmdetails">
            <ul class="drives">
              <% vm.drives.each_pair do |name, h| %>
                <% if h['config'] %>
                  <%
                    file      = vm.running? ? h['file'] : h['config']['file']
                    inserted  = !h['tray-open'] && file
                    disabled  = 
                        (vm.running? && h['removable']) ? 
                        ''                              : 
                        'disabled' 
                    onclick   = ''
                    if vm.running? and h['removable'] and not inserted
                      onclick   = 'javascript:popup_filechooser(this);'
                    end
                    showed_path = ''
                    if h['removable']
                      showed_path = 
                          inserted                                          ?
                          OnBoard::V12n::QEMU::Img.relative_path(file) :
                          '[choose an image]'
                    else
                      showed_path = 
                          OnBoard::V12n::QEMU::Img.relative_path(file)
                    end

                    field_title = 
                        "#{name}: #{inserted ? showed_path : '[not inserted]'}" 
                  %>
                  <li class="drive <%= h['config']['media'] %>"> 
                    <%= drive_icon h['config']['media'], :title => field_title %>

                    <input <%= disabled %> onclick="<%= onclick %>" type="text" name="drive[<%= vm.config.uuid %>][<%= name %>][file]" value="<%= showed_path %>" title="<%= field_title %>"/>
                    <% if h['removable'] %>
                      <button title="Eject / Change media" name="drive[<%= vm.config.uuid %>][<%= name %>][action]" value="<%= inserted ? 'eject' : 'change' %>" type="submit"><%= drive_icon :eject %></button>
                    <% end %>
                  </li>
                <% end %>
              <% end if vm.drives.respond_to? :each_pair %>
            </ul>
          </td>

          <!-- Network Interfaces -->
          <td rowspan="2" class="vmnetwork">            
            <table> <!-- nested table, yeah :-P -->
              <% vm.config['-net'].each do |netif| %>
                <% next if netif['type'] == 'nic' %>
                <tr>
                  <td class="vlan">VLAN#<%= netif['vlan'] %></td>
                  <td class="ifname">
                    <em><%= netif['type'] %></em><%= 
                      if netif['ifname'] =~ /\S/
                        if all_running_ifnames.include? netif['ifname']
%Q{: <a href="/network/interfaces.html">#{netif['ifname']}</a>}
                        else
                          %Q{: #{netif['ifname']}}
                        end
                      end                    
                    %>
                  </td>
                  <td class="bridge"><%= %Q{<em>Bridged to</em>: <a href="/network/bridges.html">#{netif['bridge']}</a>} if netif['bridge'] =~ /\S/ %></td>
                </tr>
              <% end if vm.config['-net'].respond_to? :each %>
            </table>
          </td>

          <td rowspan="2" class="vmscreenshot">
            <% if vm.running? %>
              <% screenshot_path = "qemu/vm/#{vm.uuid_short}/screen.png" %>
              <a class="img" href="<%= screenshot_path %>"><img src="<%= screenshot_path %>" style="width:200px"/></a>
            <% end %>

            <% vnc_uri = "vnc://#{request.host}#{vm.config.opts['-vnc']}"%>
            <% if vm.running? %>
              <a href="<%= vnc_uri %>" title="<%= vnc_uri %>">
            <% end %>
              <em><%= vnc_uri %></em>
            <% if vm.running? %>
              </a>
            <% end %>
            <br/>

            <% if vm.config.opts['-spice'] and vm.config.opts['-spice']['port'].to_i > 0 %>
              <% spice_uri = "spice://#{request.host}:#{vm.config.opts['-spice']['port']}"%>       
              <% if vm.running? %>
                <a href="<%= spice_uri %>" title="<%= spice_uri %>">
              <% end %>
                  <em><%= spice_uri %></em>
              <% if vm.running? %>
                </a>
              <% end %>
            <% end %>       

          </td>

        </tr>

        <tr>
          <!-- <td></td> --> <!-- "Status":             rowspan="2" -->

          <td colspan="4" class="saverestore<%= ' lowlight' unless show_saverestore %>"> <!-- under "Actions" -->
            <input style="vertical-align:middle;" type="checkbox" <%= 'checked' if show_saverestore %> <%= 'disabled' unless show_saverestore %> id="saverestore[<%= vm.uuid %>]" name="saverestore[<%= vm.uuid %>]" onclick="javascript:qemuSaveRestoreControls('<%= vm.uuid %>');"/> 
            <span style="vertical-align:middle;"><%= vm.running? ? 'Save state on Quit' : 'Restore state' %></span>
          </td> 
          <!-- <td></td> --> <!-- "VM Details":         rowspan="2" -->
          <!-- <td></td> --> <!-- "Drives":             rowspan="2" -->
          <!-- <td></td> --> <!-- "Network Interfaces": rowspan="2" -->
          <!-- <td></td> --> <!-- "Screenshot":         rowspan="2" -->
        </tr>

      <% end %>
    </form>
  </tbody>
</table>

<h3>Create a new VM</h3>

<form method="POST">

  <%= 
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/_form_create_edit',
      :locals => {
        :all_bridges        => all_bridges
      }
    )
  %>

  <button style="margin-top:2ex;" type="submit">Create!</button>
</form>

<script type="text/javascript">
  <%# js functions implemented in qemu/_js.html.erb %>
  qemuNetIfControls();
  qemuSaveRestoreControls();
</script>
