<% 
  require 'facets/string' 

  configuration                               ||= {} 
  configuration['mandatory']                  ||= {} 
  c = configuration['mandatory']['personal']  ||= {}
  smo = configuration['show_mandatory_only']  

%> 
<table class="raduserform">
  <tr>
    <th scope="row"><%= i18n.personal.name.full.capitalize %></th>
    <td> 
        <input 
            type="checkbox" 
            name="mandatory[personal][Name]"
            <%= 'checked' if c['Name'] %>
        />
    </td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>
      <input type="checkbox" name="mandatory[personal][Email]" <%= 'checked' if c['Email'] %> />
    </td>
  </tr>
  <tr>
    <th scope="row">
      <%= i18n.personal.birth.all_data.capitalize %>
    </th>
    <td>
        <input 
            type="checkbox" 
            name="mandatory[personal][Birth]"
            <%= 'checked' if c['Birth'] %>
        />
    </td>
  </tr>
  <tr>
    <th scope="row"><%= i18n.personal.address.capitalize %></th>
    <td>
        <input 
            type="checkbox" 
            name="mandatory[personal][Full-Address]" 
            <%= 'checked' if c['Full-Address'] %>
        />
    </td>
  </tr>
  <tr>
    <th scope="row"><%= i18n.personal.phone.phone.capitalize %></th>
    <td>
        <input 
            type="checkbox" 
            name="mandatory[personal][Phone]"
            <%= 'checked' if c['Phone'] %>
        />
    </td>
  </tr>
  <tr>
    <th scope="row">
      <%= i18n.personal.id_code.id_code.titlecase %>
      <div class="optinfo"><%= i18n.personal.id_code.alt %></div>
    </th>
    <td>
      <input type="checkbox" name="mandatory[personal][ID-Code]" <%= 'checked' if c['ID-Code'] %> />
    </td>
  </tr>
</table>
<div style="font-style:italic; margin-top:1ex">
  <input <%= 'checked' if smo %> style="vertical-align:-10%" type="checkbox" name="show_mandatory_only"/>Show only mandatory fields to end users
</div>


