<%#-*- coding: UTF-8 -*-%>

<% 
  config            = objects.data
  config          ||= {}
  config['mail']  ||= {}
%>

<%= message_partial(msg) %>

<h2><%= title %></h2>

<h3>Reset and send via e-mail</h3> 

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
<table>
  <tbody>
    <tr>
      <th scope="row">
        From:
        <div class="optinfo">
          Example:&nbsp; <kbd>Hotspot System &lt;noreply@mydomain.com&gt;</kbd>
        </div>
      </th>
      <td><input style="width: 54ex" class="rwtext" type="text" name="config[mail][from]" value="<%= config['mail']['from'] %>"/></td>
    </tr>
     <tr>
      <th scope="row">
        Subject:
        <div class="optinfo">
          Example:&nbsp; <kbd>New password for user ``-USER-''</kbd> (will be replaced by the actual username)
        </div>
      </th>
      <td><input style="width: 54ex" class="rwtext" type="text" name="config[mail][subject]" value="<%= config['mail']['subject'] %>"/></td>
    </tr>   
    <tr>
      <th scope="row">
        Text
        <div class="optinfo">
          <kbd>-USER-</kbd> and <kbd>-PASSWORD-</kbd> will be replaced by the actual username and the new password.
      </th>
      <td><textarea style="width:72ex; height:24ex" name="config[mail][body]"><%= config['mail']['body'] %></textarea></td>
    </tr>
  </tbody>
</table>
<button type="submit">Set!</button>
</form>

