<h2><%= title %></h2>
<% rows = objects %>
<%= message_partial msg %>
<div class="warn">
  Documents already subscribed by one or more active users SHALL NOT be deleted!
</div>
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Content preview</th>
    <th>Asked?</th>
    <th>Required?</th>
    <th>Accepted by</th>
    <th>Delete!</th>
  </tr>
  <% rows.each do |row| %>
    <tr>
      <td style="text-align:right"><a href="terms/<%= row[:id] %>.html"><%= row[:id] %></a></td>
      <td><a href="terms/<%= row[:id] %>.html"><%= row[:name] %></td>
        <td><%= row[:content][0..300].gsub(/\r?\n/, '<br/>') if row[:content] %>...</td>
      <td style="text-align:center"><%= yes_no_icon row[:asked],    :print_no %></td>
      <td style="text-align:center"><%= yes_no_icon row[:required], :print_no %></td>
      <td style="text-align:right; padding-right:1ex;">
        <% if row[:accept_count] > 0 %><a href="users/by_terms/<%= row[:id] %>.html"><% end %>
          <%= row[:accept_count] %> user<%= 's' if row[:accept_count] != 1 %>
        <% if row[:accept_count] > 0 %></a><% end %> 
      </td>
      <td style="text-align:center">
        <form method="POST" action="terms/<%= row[:id] %>.html">
          <input type="hidden" name="_method" value="delete"/>
          <%= action_button :delete, :disabled => (row[:accept_count] > 0) %>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<h3>Create a new document</h3>
<form method="POST">
  <%= partial(
    :module => 'radius-admin', 
    :path => 'services/radius/terms/_form',
    :locals => {:button_label => 'Create!'}
  ) %>
</form>
