<%

# encoding: utf-8

require 'onboard/pub/layout'

%>
<!DOCTYPE html>
<%
  title ||= nil # avoid NameError if no title was set

  c = OnBoard::Pub::Layout.read_conf
%>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/default.mobi.css"/>
    <link rel="icon" href="/icons/favicon.ico"/> <%# TODO: make it uploadable %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  </head>
  <body style="">
    <div id="header">
      <div style="text-align: center">
        <% if c['logo_link'] =~ /\S/ %>
          <a class="img" target="_blank" href="<%= c['logo_link'] %>"><img src="/pub/logo"/></a>
        <% else %>
          <img src="/pub/logo"/>
        <% end %>
      </div>
      <div><%= c['custom_text'] %></div>
    </div>
    <div id="main">

      <%= partial(:path => "pub/_navbar") %>

      <%= yield %>

    </div>
  </body>
</html>

