<% 
  require 'i18n_data' 
  require 'date'
%>

<h2>SSL keys and certificates</h2>
<h3>Diffie-Hellman parameters</h3>
<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% objects['dh'].each_pair do |filename, dh_h| %>   
      <tr> 
        <td><code><%= filename %></code></td>
        <td><%= dh_h['size'] %></td>
        <td>
          <%= 
            if not dh_h['err']
              'Ok'  
            elsif dh_h['being_created'] 
              '<span style="font-style:italic;">generating DH params... this may take a long time...</span>'
            else
              dh_h['err']
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Certificate Authority</h3>
<%
  if objects['ca']['issuer'] == objects['ca']['subject']
    signed_info_html = '<span style="font-style:italic;"><strong>self-signed</strong></span>'
  else
    signed_info_html = 'issued by <em>' + objects['ca']['issuer']['CN'] + '</em>'
  end
%>
<table style="display: inline;">
  <caption>CA certificate (<%= signed_info_html %>)</caption>
  <tbody>
    <tr>
      <th scope="row">Validity</th>
      <td>
        <%= i18n.l(objects['ca']['not_before'].to_date, :full) %>
        -      
        <%= i18n.l(objects['ca']['not_after'].to_date, :full)  %>
      </td>
    </tr>
    <tr>
      <th scope="row">Serial No.</th>
      <td>
        <code>
          <%= objects['ca']['serial'].to_s(16).scan(/..?/).join(':') %>
        </code>
      </td>
    </tr>   
    <tr>
      <th scope="row">X509 Standard version</th>
      <td><%= objects['ca']['version'] %></td>
    </tr>
    <tr>
      <th scope="row">Signature algorithm</th>
      <td><code><%= objects['ca']['signature_algorithm'] %></code></td>
    </tr> 
  </tbody>
</table>
<% cadata = objects['ca']['subject'] %>
<table style="display:inline;">
  <caption style="margin-top:0.5em;">CA details</caption>
  <tbody>
    <tr>
      <th scope="row">Country</th>
      <td>
        <%= countries[cadata['C']] %>
      </td>
    </tr>
    <tr>
      <th scope="row">State/Province</th>
      <td><%= cadata['ST'] %></td>
    </tr>   
    <tr>
      <th scope="row">Location</th>
      <td><%= cadata['L'] %></td>
    </tr>
    <tr>
      <th scope="row">Organization</th>
      <td><%= cadata['O'] %><%= (', <span style="font-style: italic;">' + cadata['OU'] + '</span>') if cadata['OU'] =~ /\S/ %></td>
    </tr> 
    <tr>
      <th scope="row">&ldquo;Common Name&rdquo;</th>     
      <td><code><%= cadata['CN'] %></code></td>
    </tr>
    <tr>
      <th scope="row">E-mail</th>
      <td><code><%= cadata['emailAddress'] %></code></td>
    </tr>
  </tbody>
</table>



<h4>Initialize new</h4>
<table>
  <thead>
    <tr>
      <th>Create!</th>
      <th>Key Size (bits)</th>
      <th>Expiry (days)</th>
      <th>Country</th>
      <th colspan="2">City (Province/State)</th>
      <th>Organization Name</th>
      <th>Organizational Unit</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form method="POST" action="easy-rsa/ca.html">
        <td style="text-align:center;"><button type="submit" title="Create new CA"><img src="<%= icondir + '/' + iconsize + '/actions/add.png'%>" alt="create"/></button></td>
        <td>
          <select name="key_size">
            <% OnBoard::Crypto::SSL::KEY_SIZES.each do |ksiz| %>
              <option value="<%= ksiz %>"><%= ksiz %></option>  
            <% end %>
          </select>
        </td>
        <td><input name="days" size="4" value="3650"/></td>
        <td style="text-align:center;">
          <select name="C">
            <% country_codes_by_name.each do |cc| %>
              <option value="<%= cc %>" <%= 'selected' if cc == current_country_code %> title="<%= html_escape countries[cc] %>">
                <%= 
                  html_escape countries[cc][0..18] 
                      # truncate to not mess the page layout
                %> 
              </option> 
            <% end %>
          </select> 
        </td>
        <td><input name="L"  type="text" size="9"/></td>
        <td><input name="ST" type="text" size="2"/></td>
        <td style="text-align:center;">
          <input name="O" type="text" size="12"/></td>
        <td style="text-align:center;">
          <input name="OU" type="text" size="11"/></td>
        <td style="text-align:center;">
          <input name="emailAddress" type="text" size="14"/></td>
      </form>
    </tr>
  </tbody>
</table>

