<% 
  require 'locale'
  require 'i18n_data' 
  require 'date'
%>

<%
  countries = I18nData.countries
  cc_by_name = countries.keys.sort_by {|x| countries[x]} 
  current_country_code = Locale.current.region 
%>
<h2>SSL keys and certificates</h2>
<h3>Diffie-Hellman parameters</h3>
<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Size</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% objects['dh'].each_pair do |filename, dh_h| %>   
      <tr> 
        <td><code><%= filename %></code></td>
        <td><%= dh_h['size'] %></td>
        <td>
          <%= 
            if not dh_h['err']
              'Ok'  
            elsif dh_h['being_created'] 
              '<span style="font-style:italic;">generating DH params... this may take a long time...</span>'
            else
              dh_h['err']
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Certificate Authority</h3>

<pre>
  <%= html_escape objects['ca'].pretty_inspect %>
</pre> 

<% 
  # just a proof-of-concept, for now...
  require 'r18n-core' 
      # apparently sinatra/r18n works for classic style apps only
  i18n = R18n::I18n.new(['it'])
  #it_locale = R18n::Locale.load('it')
%>

<table>
  <caption>CA certificate</caption>
  <tbody>
    <tr>
      <th scope="row">Validity</th>
      <td>
        <%= 
            i18n.l(objects['ca']['not_before'].to_date, :full)  
        #pp objects['ca']['not_before'].to_date
        %>
        -      
        <%= 
          i18n.l((Date.parse '2010-02-01'), :full)
        #pp Date.parse '2010-01-01'
        %>
      </td>
    </tr>
  </tbody>
</table>

<h4>Initialize new</h4>
<table>
  <thead>
    <tr>
      <th>Create!</th>
      <th>Key Size (bits)</th>
      <th>Expiry (days)</th>
      <th>Country</th>
      <th colspan="2">City (Province/State)</th>
      <th>Organization Name</th>
      <th>Organizational Unit</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form method="POST" action="easy-rsa/ca.html">
        <td style="text-align:center;"><button type="submit" title="Create new CA"><img src="<%= icondir + '/' + iconsize + '/actions/add.png'%>" alt="create"/></button></td>
        <td>
          <select name="key_size">
            <% OnBoard::Crypto::SSL::KEY_SIZES.each do |ksiz| %>
              <option value="<%= ksiz %>"><%= ksiz %></option>  
            <% end %>
          </select>
        </td>
        <td><input name="days" size="4" value="3650"/></td>
        <td style="text-align:center;">
          <select name="C">
            <% cc_by_name.each do |cc| %>
              <option value="<%= cc %>" <%= 'selected' if cc == current_country_code %> title="<%= html_escape countries[cc] %>">
                <%= 
                  html_escape countries[cc][0..18] 
                      # truncate to not mess the page layout
                %> 
              </option> 
            <% end %>
          </select> 
        </td>
        <td><input name="L"  type="text" size="9"/></td>
        <td><input name="ST" type="text" size="2"/></td>
        <td style="text-align:center;">
          <input name="O" type="text" size="12"/></td>
        <td style="text-align:center;">
          <input name="OU" type="text" size="11"/></td>
        <td style="text-align:center;">
          <input name="emailAddress" type="text" size="14"/></td>
      </form>
    </tr>
  </tbody>
</table>

