<% if msg and msg.kind_of? Hash %>
  <% if status == 202 and msg[:ok] %>
    <div class="info" style="">
      <% if msg[:info] and msg[:info] =~ /\S/ %>
        <%= msg[:info] %>
      <% else %>
        Your request has been queued. You may check <a href="">this</a> 
        or other pages later
        to get updated informations. A look at the 
        <a href="/system/logs.html">system logs</a> may be helpful too. 
      <% end %>
    </div>
  <% end %>
  <% if not msg[:ok] %>
    <% if msg[:stderr] =~ /\S/ %>
      <div class="error">
        <em>Command &ldquo;<code><%= html_escape msg[:cmd] %></code>&rdquo;  reported errors (status code = <code><%= msg[:status] %></code>).</em>
        <pre><%= html_escape msg[:stderr].strip %></pre>
      </div>
    <% elsif msg[:log] %>
      <div class="error">
        Something went wrong. 
<a href="/system/logs/<%= url_encode msg[:log] %>.html">Check the log</a> 
        for more details.
      </div>
    <% elsif msg[:err_html] =~ /\S/ %>
      <div class="error"><%= msg[:err_html] %></div>
    <% elsif msg[:err].to_s =~ /\S/ %>
      <pre class="error"><%= html_escape msg[:err].to_s %></pre>
    <% elsif msg[:warn] =~ /\S/ %>
      <div class="warn"><%= msg[:warn] %></div>
    <% end %>
  <% end %>
<% end %>

