<% if msg and msg.kind_of? Hash %>
  <% if status == 202 and msg[:ok] %>
    <div class="info" style="">
      <% if msg[:info] and msg[:info] =~ /\S/ %>
        <%= msg[:info] %>
      <% else %>
        Your request has been queued. You may check <a href="">this</a> 
        or other pages later
        to get updated informations. A look at the 
        <a href="/system/logs.html">system logs</a> may be helpful too. 
      <% end %>
    </div>
  <% end %>
  <% begin %>
    <% if not msg[:ok] and msg[:stderr] =~ /\S/ %>
      <div class="error">
        <em>Command &ldquo;<code><%= html_escape msg[:cmd] %></code>&rdquo;  reported errors (status code = <code><%= msg[:status] %></code>).</em>
        <pre><%= html_escape msg[:stderr].strip %></pre>
      </div>
    <% elsif not msg[:ok] and msg[:err] =~ /\S/ %>
     <pre class="error"><%= html_escape msg[:err] %></pre>
    <% elsif not msg[:ok] and msg[:warn] =~ /\S/ %>
      <div class="warn"><%= msg[:warn] %></div>
    <% end %>
  <% rescue %>
    <% pp msg %>
  <% end %>
<% end %>

