<!DOCTYPE html>
<% 
  require 'hmenu/css'
  require 'hmenu/js'

  title ||= nil # avoid NameError if no title was set
%> 
<html>
  <head>
    <title><%= OnBoard::LONGNAME %><%= ": #{title}" if title %></title> 
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="icon" href="/icons/favicon.ico"/>
    <style type="text/css">
      <%= ::HMenu::CSS.out %>
    </style>

    <script type="text/javascript">
      <%= ::HMenu::JS.out %>
    </script>

  </head>
  <body onload="reset_menus();"> 
    <div id="sidebar">
      <%= 
        mangler = lambda do |node|
          if node.content and node.content[:href] == request.path_info
            node.content[:extra_class]  = "superhighlight hmenu-expand-on-reset"
            node.content[:href]         = nil
          end
        end
        OnBoard::MENU_ROOT.to_html_ul(
          :mangler => mangler 
        ) 
      %>
    </div>
    <div id="main">
      <%= erb(:"_navbar.html", :layout => false) %>
      <%= yield %>
    </div>
  </body>
</html>
