<!DOCTYPE html>
<% 
  require 'hmenu/css'
  require 'hmenu/js'

  title ||= nil # avoid NameError if no title was set
%> 
<html>
  <head>
    <title><%= OnBoard::LONGNAME %><%= ": #{title}" if title %></title> 
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="icon" href="/icons/favicon.ico"/>
    <style type="text/css">
      <%= ::HMenu::CSS.out %>
    </style>

    <script type="text/javascript">
      <%= ::HMenu::JS.out %>
    </script>

  </head>
  <body onload="reset_menus();"> 
    <div id="sidebar">
      <div id="onboard-menu">
        <%= 
          OnBoard::MENU_ROOT.to_html_ul do |node, output|
            if node.content[:href] == request.path_info
              output[:href] = nil
              output[:extra_class] = "hmenu-selected"
            end
          end
        %>
      </div>
    </div>
    <div id="main">
      <%= erb(:"_navbar.html", :layout => false) %>
      <%= yield %>
    </div>
  </body>
</html>
