<%
  # Title and description may come from the controller or from the 
  # menu object itself.
%>

<% if objects[:title] and objects[:title] =~ /\S/ %>
  <h2><%= objects[:title] %></h2>
<% elsif objects[:menu].content[:title] and 
    objects[:menu].content[:title] =~ /\S/ %>
  <h2><%= objects[:menu].content[:title] %></h2>
<% end %>

<% if objects[:desc] and objects[:desc] =~ /\S/ %>
  <p class="info"><%= objects[:desc] %></p>
<% elsif objects[:menu].content and objects[:menu].content[:desc] and 
    objects[:menu].content[:desc] =~ /\S/ %>
  <p><%= objects[:menu].content[:desc] %></p>
<% end %>

<%= objects[:menu].to_html_ul %>

