<%
  require 'onboard/extensions/ipaddr'
%>

<h2>VPN</h2>
<pre><%= html_escape objects.pretty_inspect if params['debug'] %></pre>

<%
  pid_description = "Identifies a running process, and is not preserved across restarts"
  vpn_id_description = "Only identifies VPN created by this management interface, and doesn&rsquo;t change after a restart"
  common_name_description = "Information contained in the cryptographic certificate for the VPN"
%>

<table>
  <thead>
    <tr>
      <th rowspan="3" title="<%= pid_description %>">
        PID
      </th>
      <th rowspan="3" title="<%= vpn_id_description %>">
        VPN ID
      </th>     
      <th rowspan="3">
        Client/Server
      </th>
      <th rowspan="3" title="<%= common_name_description %>">
        &ldquo;Common Name&rdquo;
      </th>
      <th colspan="4">
        Real
      </th>
      <th colspan="2">
        Virtual 
      </th>
    </tr>
    <tr>
      <th rowspan="2">
        Protocol
      </th>
      <th rowspan="2">
        Local Port
      </th>
      <th colspan="2">
        Remote 
      </th>     
      <th rowspan="2">
        Local IP Address
      </th>
      <th rowspan="2">
        Destinations
      </th>     
    </tr>
    <tr>
      <th>IP Address</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
    <% objects.each_with_index do |vpn, vpn_i| %>
      <tr>
        <td><%= vpn.data['pid'] %></td>
        <td> </td>
        <td>
          <%= 
            if vpn.data['client']
              "Client"
            elsif vpn.data['server']
              "Server"
            end
          %>
        </td>
        <td><code><%= vpn.data['cert']['subject']['CN'] %></code></td>
        <td><%= vpn.data['proto'].upcase %></td>
        <td>
          <%= 
            if vpn.data['port']
              vpn.data['port']
            else
              ' '
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['address']
              vpn.data['remote']['address']
            else
              ' '
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['port']
              vpn.data['remote']['port']
            else
              ' '
            end
          %>
        </td>
        <td>
          <%=
            if vpn.data['client'] 
              if vpn.data['client'].respond_to? :[] and 
                  vpn.data['client']['Virtual Address']
                vpn.data['client']['Virtual Address']
              else
                ' '
              end
            elsif vpn.data['server']
              # if, in the config file it's 
              # server=10.8.0.0 netmask=255.255.255.0, then the virtual local
              # server address is 10.8.0.1/24
              ip = IPAddr.new(vpn.data['server'] + '/' + vpn.data['netmask'])
              ip.to_range.to_a[1].to_s + '/' + ip.prefixlen.to_s
            end
          %>
        </td>
        <td>
          <%= 
              #vpn.data['remote'] 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


