<%
  require 'onboard/extensions/ipaddr'
%>

<h2>VPN</h2>

<%
  pid_description = "Identifies a running process"
  common_name_description = "Information contained in the cryptographic certificate for the VPN"
%>
<h3>Running OpenVPN connections</h3>
<table>
  <thead>
    <tr>
      <th rowspan="3" title="<%= pid_description %>">
        PID
      </th>
      <th rowspan="3">
        Client/Server
      </th>
      <th rowspan="3" title="<%= common_name_description %>">
        &ldquo;Common Name&rdquo;
      </th>
      <th colspan="4">
        Real
      </th>
      <th colspan="3">
        Virtual 
      </th>
    </tr>
    <tr>
      <th rowspan="2">
        Protocol
      </th>
      <th rowspan="2">
        Local Port
      </th>
      <th colspan="2">
        Remote 
      </th>     
      <th rowspan="2">
        Local IP Address
      </th>
      <th rowspan="2">
        Destinations
      </th>     
      <th rowspan="2">
        Device
      </th>
    </tr>
    <tr>
      <th>IP Address</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody>
    <% objects.each_with_index do |vpn, vpn_i| %>
      <tr>
        <td>
          <a href="openvpn/pid_<%= vpn.data['pid'] %>.html">
            <%= vpn.data['pid'] %>
          </a>
        </td>
        <td>
          <%= 
            if vpn.data['client']
              "Client"
            elsif vpn.data['server']
              "Server"
            end
          %>
        </td>
        <td><code><%= vpn.data['cert']['subject']['CN'] %></code></td>
        <td><%= vpn.data['proto'].upcase %></td>
        <td>
          <%= 
            if vpn.data['port']
              vpn.data['port']
            else
              '<span class="lowlight">(auto)</span>'
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['address']
              vpn.data['remote']['address']
            elsif vpn.data['server']
              '<div class="lowlight" style="text-align:center;">*</div>'
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['port']
              vpn.data['remote']['port']
            elsif vpn.data['server']
              '<div class="lowlight" style="text-align:center;">*</div>'
            end
          %>
        </td>
        <td>
          <%=
            if vpn.data['client'] 
              if vpn.data['client'].respond_to? :[] and 
                  vpn.data['client']['Virtual Address']
                vpn.data['client']['Virtual Address']
              else
                ' '
              end
            elsif vpn.data['server']
              # if, in the config file it's 
              # server=10.8.0.0 netmask=255.255.255.0, then the virtual local
              # server address is 10.8.0.1/24
              ip = IPAddr.new(vpn.data['server'] + '/' + vpn.data['netmask'])
              ip.to_range.to_a[1].to_s + '/' + ip.prefixlen.to_s
            end
          %>
        </td>
        <td>
          <%= 
            str = '<div style="margin:0.3em 0;">'
            vpn.data['routes'].each do |route| 
              addr      = route['dest']['addr'] 
              prefixlen = route['dest']['prefixlen'] 
              af        = route['dest']['af']
              gw        = route['gw']['addr']

              str       << addr
              unless  (af=='inet'   and prefixlen==32) or 
                      (af=='inet6'  and prefixlen==128)
                str << '/'
                str << prefixlen.to_s
              end
              str << "<span class=\"lowlight\"> (via #{gw}) </span>" unless %w{0.0.0.0 ::}.include? gw
              str << '</div>' 
            end 
            str
          %>
        </td>
        <td><code><%= vpn.data['interface'] %></code></td>
      </tr>
    <% end %>
  </tbody>
</table>


