<%
  require 'onboard/extensions/ipaddr'
%>

<style type="text/css">
  form {
    display: inline;
  }
</style>

<h2>VPN</h2>

<% if msg %>
  <% if status == 202 %>
    <div class="info" style="">
      Your request has been queued. You may <a href="">reload this page</a>
      or <a href="/system/logs.html">check the system logs</a>
      to get updated info. 
      <% if params['start'] and params['start'] =~ /\d/ %>
        You may also want to check the advanced options for the 
<a href="openvpn/vpn/<%= params['start'] %>.html">specific VPN connection</a>.
      <% end %>
    </div>
  <% end %>
  <% begin %>
    <% if not msg[:ok] and msg[:stderr] =~ /\S/ %>
      <div class="error">
        <em>Command &ldquo;<code><%= html_escape msg[:cmd] %></code>&rdquo;  reported errors (status code = <code><%= msg[:status] %></code>).</em>
        <pre><%= html_escape msg[:stderr].strip %></pre>
      </div>
    <% end %>
  <% rescue %>
    <% pp msg %>
  <% end %>
<% end %>

<%
  common_name_description = "Information contained in the cryptographic certificate for the VPN"
%>
<table>
  <thead>
    <tr>
      <th rowspan="3">
        Actions 
      </th>
      <th rowspan="3">
        Client/Server
      </th>
      <th rowspan="3" title="<%= common_name_description %>">
        &ldquo;Common Name&rdquo;
      </th>
      <th colspan="4">
        Real
      </th>
      <th colspan="3">
        Virtual 
      </th>
    </tr>
    <tr>
      <th rowspan="2">
        Protocol
      </th>
      <th rowspan="2">
        Local Port
      </th>
      <th colspan="2">
        Remote 
      </th>     
      <th rowspan="2">
        Local IP Address
      </th>
      <th rowspan="2">
        Destinations
      </th>     
      <th rowspan="2">
        Device
      </th>
    </tr>
    <tr>
      <th>IP Address</th>
      <th>Port</th>
    </tr>
  </thead>
  <tbody> 
    <% objects.each_with_index do |vpn, vpn_i| %>
      <%
       vpnid = vpn_i + 1 # users prefer starting from 1, not 0 
      %>
      <tr <%= 'class="lowlight"' unless vpn.data['running'] %>>
        <td style="text-align:center;">
          <form method="POST">
            <input type="hidden" name="_method" value="put"/>
            <% if vpn.data['running'] %>
              <button type="submit" name="stop" value="<%= vpnid %>" title="Stop the VPN connection">
                <img src="<%= icondir + '/' + iconsize + '/stock/net/stock_disconnect.png'%>" alt="Stop!"/>
              </button>
            <% else %>
              <button type="submit" name="start" value="<%= vpnid %>" title="Start the VPN connection">
                <img src="<%= icondir + '/' + iconsize + '/stock/net/stock_connect.png'%>" alt="Start!"/>
              </button>
            <% end %>
          </form>
          <a href="openvpn/vpn/<%= vpnid %>.html" title="View/Edit VPN details" style="border:0;"><button><img style="border:0;" src="<%= icondir + '/' + iconsize + '/actions/system-run.png'%>" alt="View/Edit details"/></button></a>
          <% 
            if vpn.data['running']
              str = 'Stop the VPN and remove from the list'
            else
              str = 'Remove from the list'
            end
          %>
          <form action="openvpn/vpn/<%= vpnid %>.html" method="POST">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" title="<%= str %>"><img src="<%= icondir + '/' + iconsize + '/actions/delete.png'%>" alt="Delete"/></button>
          </form>
        </td>
        <td>
          <%= 
            if vpn.data['client']
              "Client"
            elsif vpn.data['server']
              "Server"
            end
          %>
        </td>
        <td><code><%= 
          begin; vpn.data['cert']['subject']['CN']; rescue; end
        %></code></td>
        <td><%= 
          begin; vpn.data['proto'].upcase; rescue; end
        %></td>
        <td>
          <%= 
            if vpn.data['port']
              vpn.data['port']
            else
              '<span class="lowlight">(auto)</span>'
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['address']
              vpn.data['remote']['address']
            elsif vpn.data['server']
              '<div class="lowlight" style="text-align:center;">*</div>'
            end
          %>
        </td>
        <td> 
          <%=
            if vpn.data['remote'] and vpn.data['remote']['port']
              vpn.data['remote']['port']
            elsif vpn.data['server']
              '<div class="lowlight" style="text-align:center;">*</div>'
            end
          %>
        </td>
        <td>
          <%=
            if vpn.data['client'] 
              if vpn.data['client'].respond_to? :[] and 
                  vpn.data['client']['Virtual Address']
                vpn.data['client']['Virtual Address']
              else
                ' '
              end
            elsif vpn.data['server']
              # if, in the config file it's 
              # server=10.8.0.0 netmask=255.255.255.0, then the virtual local
              # server address is 10.8.0.1/24
              ip = IPAddr.new(vpn.data['server'] + '/' + vpn.data['netmask'])
              ip.to_range.to_a[1].to_s + '/' + ip.prefixlen.to_s
            end
          %>
        </td>
        <td>
          <%= 
            str = '<div style="margin:0.3em 0;">'
            vpn.data['routes'].each do |route| 
              addr      = route['dest']['addr'] 
              prefixlen = route['dest']['prefixlen'] 
              af        = route['dest']['af']
              gw        = route['gw']['addr']

              str       << addr
              unless  (af=='inet'   and prefixlen==32) or 
                      (af=='inet6'  and prefixlen==128)
                str << '/'
                str << prefixlen.to_s
              end
              str << "<span class=\"lowlight\"> (via #{gw}) </span>" unless %w{0.0.0.0 ::}.include? gw
              str << '</div>' 
            end 
            str
          %>
        </td>
        <td><code><%= vpn.data['interface'] %></code></td>
      </tr>
    <% end %>
  </tbody>
</table>
(<a href="">Refresh</a>) 


