<%
  require 'onboard/network/interface'
  require 'onboard/network/bridge'

  require 'onboard/virtualization/qemu'

  vm                  = objects[:vm] 

  all_netifs          = OnBoard::Network::Interface.get_all
  all_bridges         = all_netifs.select     { |i| i.bridge? }  
  all_running_ifnames = all_netifs.map        { |i| i.name    }        

  cache_description   = {
    'unsafe'        => 'Allows snapshots on the fly, but it&rsquo;s also the most prone to data corruption',
    'writethrough'  => 'The slowest and most reliable',
    'writeback'     => '<span class="em-special">Recommended</span>, especially with QCOW2 images'
  }
  cache_default       = 'writeback' 

  vnc_uri             = ( 
      "vnc://#{request.host}#{vm.config['-vnc']}" if vm.config['-vnc'] =~ /\d/ )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_style'
  )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_js',
  )
%>

<%= message_partial(msg) %>

<h2>QEMU Virtual Machine: &ldquo;<%= vm.config['-name'] %>&rdquo;</h2>

<% if vm.running? %>
  <% screenshot_path = "#{vm.uuid_short}/screen.png" %>
  <a title="Click for full-size screenshot" class="img" href="<%= screenshot_path %>"><img src="<%= screenshot_path %>" style="width:30em"/></a>
  <% if vnc_uri %>
    <p class="optinfo" style="font-size:100%;">
      VNC available at <a href="<%= vnc_uri %>"><%= vnc_uri %></a>
    </p>
  <% end %>
<% end %>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
    <%= 
      partial(
        :module => 'qemu',
        :path   => 'virtualization/qemu/vm/_run',
        :locals => {:vm => vm} 
      )
    %>
</form>

<h3>Snapshot management</h3>
<table>

</table>

<h3>Static Configuration</h3>

<div class="warn" style="margin-bottom:4.3ex; margin-top: 0;">
  Changes will take effect the next time you start the VM.
</div>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <%= 
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/_form_create_edit',
      :locals => {
        :cache_default      => cache_default,
        :cache_description  => cache_description,
        :all_bridges        => all_bridges,
        :vm                 => vm
      }
    )
  %>

  <button style="margin-top:3.3ex;" type="submit">Change!</button>
</form>

<script type="text/javascript">
  <%# js functions implemented in qemu/_js.html.erb %>
  qemuSaveRestoreControls('<%= vm.uuid %>');
  qemuNetIfControls();
</script>
