<%
  require 'onboard/network/interface'
  require 'onboard/network/bridge'

  require 'onboard/virtualization/qemu'

  vm                  = objects[:vm] 

  all_netifs          = OnBoard::Network::Interface.get_all
  all_bridges         = all_netifs.select     { |i| i.bridge? }  
  all_running_ifnames = all_netifs.map        { |i| i.name    }        

  vnc_uri             = ( 
      "vnc://#{request.host}#{vm.config['-vnc']}" if vm.config['-vnc'] =~ /\d/ )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_style'
  )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_js',
  )
%>

<%= message_partial(msg) %>

<h2>QEMU Virtual Machine: &ldquo;<%= vm.config['-name'] %>&rdquo;</h2>

<% if vm.running? %>
  <% screenshot_path = "#{vm.uuid_short}/screen.png" %>
  <a title="Click for full-size screenshot" class="img" href="<%= screenshot_path %>"><img src="<%= screenshot_path %>" style="width:30em"/></a>
  <% if vnc_uri %>
    <p class="optinfo" style="font-size:100%;">
      VNC available at <a href="<%= vnc_uri %>"><%= vnc_uri %></a>
    </p>
  <% end %>
<% end %>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
    <%= 
      partial(
        :module => 'qemu',
        :path   => 'virtualization/qemu/vm/_run',
        :locals => {:vm => vm} 
      )
    %>
</form>

<h3>Snapshots</h3>
<p class="info" style="margin-top:0;">
  <span class="term">Disk Only</span> snapshots are taken and applied at 
  machine turned off. Full <span class="term">VM</span> snapshots also include 
  CPU and memory state, and are taken and applied on a <em>running</em> machine 
  (which is temporarily paused during the process).
</p>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <table>
    <thead>
      <tr>
        <th>Drive</th>
        <th>Snapshot ID</th>
        <th>Tag / Name</th>
        <th>Type</th>
        <th>Date / Time</th>
        <th>Take</th>
        <th>Apply</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% 
        drives_w_snapshots = vm.drives.select do |k,v| 
          v['snapshots'] and v['snapshots'].any?
        end
        drives_w_snapshots.each_pair do |drive_name, drive| 
      %>
        <% drive['snapshots'].each do |snapshot| %>
          <tr>
            <form method="POST">
              <input type="hidden" name="_method" value="put"/>
              <input type="hidden" name="snapshot_drive" value="<%= drive_name %>"/>
              <td><%= drive_name %></td>
              <td style="text-align:right;"><%= snapshot.id %></td>
              <td><%= snapshot.tag %></td>
              <td>
                <%= 
                  if snapshot.vmsize == '0'
                    'Disk Only'
                  else
                    "VM, size=#{snapshot.vmsize}"
                  end
                %>
              </td>
              <td><%= snapshot.time %></td>
              <% 
                disabled = (
                    OnBoard::V12n::QEMU::Snapshot.running?      or
                    ( vm.running?     and snapshot.disk_only? ) or
                    ( not vm.running? and snapshot.full_vm?   )           
                )
              %>
              <td>
                <%= action_button :save, :name=>"snapshot_take[name]", :value=>snapshot.name, :title=>'Take Snapshot / Save VM!', :disabled=>disabled %>
              </td>
              <td>
                <%= action_button :redo, :name=>"snapshot_apply[name]", :value=>snapshot.name, :title=>'Apply Snapshot / Load VM!', :disabled=>disabled %>
              </td>
              <td>
                <%= action_button :delete, :name=>"snapshot_delete[name]", :value=>snapshot.name, :title=>'Delete Snapshot!', :disabled=>disabled %>
              </td>             
            </form>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <form method="POST">
          <input type="hidden" name="_method" value="put"/>
          <td>
            <select name="snapshot_drive" <%= 'disabled' if vm.running? %>>
              <% drives_w_snapshots.keys.each do |drive_name| %>
                <option value="<%= drive_name %>"><%= drive_name %></option>
              <% end %>
            </select>
          </td>
          <td style="text-align:right;"></td>
          <td><input type="text" name="snapshot_take[name]" title="Add New"/></td>
          <td>
            <%= 
              if vm.running?
                'VM'
              else
                'Disk Only'
              end
            %>
          </td>
          <td><!-- snapshot time -->(Add New)</td>
          <td>
            <%= action_button :save, :title=>'Take New Snapshot / Save VM!', :disabled=>(OnBoard::V12n::QEMU::Snapshot.running?) %>
          </td>
          <td>
            <%= action_button :redo, :name=>"snapshot_apply[name]", :title=>'Apply Snapshot / Load VM!', :disabled=>true %>
          </td>
          <td>
            <%= action_button :delete, :name=>"snapshot_delete[name]", :title=>'Delete Snapshot!', :disabled=>true %>
          </td>             
        </form>
      </tr>

    </tbody>
  </table>

<h3>Static Configuration</h3>

<div class="warn" style="margin-bottom:4.3ex; margin-top: 0;">
  Changes will take effect the next time you start the VM.
</div>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <%= 
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/_form_create_edit',
      :locals => {
        :all_bridges        => all_bridges,
        :vm                 => vm
      }
    )
  %>

  <button style="margin-top:3.3ex;" type="submit">Change!</button>
</form>

<script type="text/javascript">
  <%# js functions implemented in qemu/_js.html.erb %>
  qemuSaveRestoreControls('<%= vm.uuid %>');
  qemuNetIfControls();
</script>
