<%
  require 'onboard/extensions/string'
  require 'onboard/network/interface'
  require 'onboard/network/bridge'
  require 'onboard/virtualization/qemu'

  vm                  = objects[:vm] 

  all_netifs          = OnBoard::Network::Interface.get_all
  all_bridges         = all_netifs.select     { |i| i.bridge? }  
  all_running_ifnames = all_netifs.map        { |i| i.name    }        

  vnc_uri             = ( 
      "vnc://#{request.host}#{vm.config['-vnc']}" if vm.config['-vnc'] =~ /\d/ )
  spice_uri           = ( 
      "spice://#{request.host}:#{vm.config['-spice']['port']}" if 
          vm.config['-spice'].respond_to? :[] and vm.config['-spice']['port'].to_i > 0 ) 

%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_style'
  )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_js',
  )
%>

<script>
  $(function() {
    $( "#tabs" ).tabs();
    $( "#tabs-config" ).tabs();
    $( "#tabs-snapshots" ).tabs();
    // sviluppo Antonello
    $( "#tabs-remote-bck" ).tabs();
  });
</script>


<%= message_partial(msg) %>

<h2>QEMU Virtual Machine: &ldquo;<%= vm.config['-name'] %>&rdquo;</h2>

<div id="tabs">
  <ul>
    <li><a href="#tabs-status">Start/Shutdown/Status</a></li>
    <li><a href="#tabs-config">Configuration</a></li>
    <li><a href="#tabs-snapshots">Snapshots</a></li>
    <li><a href="#tabs-remote-bck">Remote Backups</a></li>
  </ul>

  <!-- <div id="tabs-status"> PARTIAL -->
  <%=
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/vm/tabs/_status',
      :locals => {
        :vm => vm,
        :vnc_uri => vnc_uri,
        :spice_uri => spice_uri
      }
    )
  %>
  <!-- <div id="tabs-config"> PARTIAL -->
  <%=
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/vm/tabs/_config',
      :locals => {
        :vm => vm,
        :all_bridges => all_bridges
      }
    )
  %>
  <!-- <div id="tabs-snapshots"> PARTIAL -->
  <%=
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/vm/tabs/_snapshots',
      :locals => {
        :vm => vm
      }
    )
  %>
  <!-- <div id="tabs-remote-bck"> PARTIAL -->
</div> <!-- div#tabs --> <!-- jQueryUI tabs -->

<script type="text/javascript">
  <%# js functions implemented in qemu/_js.html.erb %>
  qemuSaveRestoreControls('<%= vm.uuid %>');
  qemuNetIfControls();
  <% if vm.running? and not params['quit'] and false # tmp disable %>
    window.setInterval(
      function(){
        //qemuRefreshRunPanel('runPanel', '<%= "#{vm.uuid_short}/bits/run.html" %>');
        //qemuSaveRestoreControls('<%= vm.uuid %>');
        qemuRefreshHTML('status[<%= vm.uuid %>]',               '<%= "#{vm.uuid_short}/bits/status" %>');

        qemuRefreshHTML('button_power_wrapper[<%= vm.uuid %>]', '<%= "#{vm.uuid_short}/bits/buttons/power.html" %>');
        qemuRefreshHTML('button_resumepause_wrapper[<%= vm.uuid %>]', '<%= "#{vm.uuid_short}/bits/buttons/resumepause.html" %>');
        qemuRefreshHTML('button_quit_wrapper[<%= vm.uuid %>]', '<%= "#{vm.uuid_short}/bits/buttons/quit.html" %>');
        qemuSaveRestoreControls('<%= vm.uuid %>');   
        qemuRefreshHTML('button_delete_wrapper[<%= vm.uuid %>]', '<%= "#{vm.uuid_short}/bits/buttons/delete.html" %>');
 
        qemuRefreshScreenshot('screenshot', '<%= screenshot_path %>');
        if (qemuIsRunning('<%= vm.uuid_short %>')) {
          document.getElementById('remote-displays').style.display = '';
        } else {
          document.getElementById('remote-displays').style.display = 'none';
        }
      }, 
      1400
    );
  <% end %>
</script>
