<%
  require 'onboard/network/interface'
  require 'onboard/network/bridge'

  require 'onboard/virtualization/qemu'

  vm                  = objects[:vm] 

  all_netifs          = OnBoard::Network::Interface.get_all
  all_bridges         = all_netifs.select     { |i| i.bridge? }  
  all_running_ifnames = all_netifs.map        { |i| i.name    }        

  cache_description   = {
    'unsafe'        => 'Allows snapshots on the fly, but it&rsquo;s also the most prone to data corruption',
    'writethrough'  => 'The slowest and most reliable',
    'writeback'     => '<span class="em-special">Recommended</span>, especially with QCOW2 images'
  }
  cache_default       = 'writeback' 

  vnc_uri             = "vnc://#{request.host}#{vm.config['-vnc']}"
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_style'
  )
%>

<%= 
  partial(
    :module => 'qemu',
    :path   => 'virtualization/qemu/_js',
  )
%>

<%= message_partial(msg) %>

<h2>QEMU Virtual Machine: &ldquo;<%= vm.config['-name'] %>&rdquo;</h2>

<% if vm.running? %>
  <% screenshot_path = "#{vm.uuid_short}/screen.png" %>
  <a class="img" href="<%= vnc_uri %>"><img src="<%= screenshot_path %>" style="width:30em"/></a>
  <p class="optinfo" style="font-size:100%;">
    Available at <a href="<%= vnc_uri %>"><%= vnc_uri %></a>
  </p>
<% end %>

<h3>Actions</h3>

<table>
  <tbody>
    <tr>
      <th scope="row">Turn On</th>
      <td>[btn]</td>
    </tr>
      <th scope="row">
        Powerdown (ACPI)
        <div class="optinfo">Might require some time to cleanly shutdown the system.</div>
      </th>
      <td>[btn]</td>
    </tr>
    <tr>
      <th scope="row">
        Quit!
        <div class="optinfo">
          Dangerous! (unless you save a snapshot <em>and</em> restore it at the next boot).
        </div>
      </th>
      <td>[btn]</td>
    </tr> 
  </tbody>
</table>

<h3>Static Configuration</h3>

<div class="warn" style="margin-bottom:4.3ex; margin-top: 0;">
  Changes will take effect the next time you start the VM.
</div>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <%= 
    partial(
      :module => 'qemu',
      :path   => 'virtualization/qemu/_form_create_edit',
      :locals => {
        :cache_default      => cache_default,
        :cache_description  => cache_description,
        :all_bridges        => all_bridges,
        :vm                 => vm
      }
    )
  %>

  <button style="margin-top:3.3ex;" type="submit">Change!</button>
</form>

<script type="text/javascript">
  <%# js functions implemented in qemu/_js.html.erb %>
  qemuNetIfControls();
</script>
