<% chilli = objects %>
<h2>Captive Portal configuration (on interface: <%= chilli.conf['dhcpif'] %>)</h2>
<p class="credits">Based on <a href="http://coova.org/CoovaChilli">CoovaChilli</a>.</p>

<!-- 
  conf[] form params will be written dirctly in the chilli config file ;
  other parameters will undergo some processing.
-->

<h3>Network</h3>
<table>
  <thead></thead>
  <tbody>
    <tr>
      <th scope="row">Interface</th>
      <td><input type="text" name="conf[dhcpif]" value="<%= chilli.conf['dhcpif'] %>" readonly class="rotext"/></td>
    </tr>
    <tr>
      <th scope="row">Network</th>
      <td><input type="text" name="conf[net]" value="<%= chilli.conf['net'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <th scope="row">Listen address</th>
      <td><input type="text" name="conf[net]" value="<%= chilli.conf['uamlisten'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <th scope="row">DHCP range</th>
      <td><input type="text" name="dhcp_start" value="<%= chilli.dhcp_range.first %>" class="rwtext"/> - <input type="text" name="dhcp_end" value="<%= chilli.dhcp_range.last %>" class="rwtext"/></td>
    </tr>
  </tbody>
</table>

<h3>DNS</h3>
<table>
  <tbody>
    <tr>
      <th scope="row">Domain</th>
      <td><input type="text" name="conf[domain]" value="<%= chilli.conf['domain'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <th scope="rowgroup" rowspan="2">Name Servers</th>
      <td><input type="text" name="conf[dns1]" value="<%= chilli.conf['dns1'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <td><input type="text" name="conf[dns2]" value="<%= chilli.conf['dns2'] %>" class="rwtext"/></td>
    </tr>
  </tbody>
</table>

<h3>Authorization, Authentication and Accounting</h3>
<table>
  <tbody>
    <tr>
      <th scope="rowgroup" rowspan="2">RADIUS Servers</th>
      <td><input type="text" name="conf[radiusserver1]" value="<%= chilli.conf['radiusserver1'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <td><input type="text" name="conf[radiusserver2]" value="<%= chilli.conf['radiusserver2'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <th scope="row">Authentication port</th>
      <td><input type="text" name="conf[radiusauthport]" value="<%= chilli.conf['radiusauthport'] %>" class="rwtext"/></td>
    </tr>
    <tr>
      <th scope="row">Accounting port</th>
      <td><input type="text" name="conf[radiusacctport]" value="<%= chilli.conf['radiusacctport'] %>" class="rwtext"/></td>
    </tr>
  </tbody>
</table>

<h3>Advanced</h3>
<table>
  <tbody>
    <tr>
      <th scope="row">Login page URL</th>
      <td><input type="text" name="conf[uamserver]" value="<%= chilli.conf['uamserver'] %>" class="rwtext" size="64"/></td>
    </tr>
   
    <tr title="Comma-separated list of IP addresses, domain names or network segments">
      <th scope="row">Resources accessible without authorization</th>
      <td><input type="text" name="conf[uamallowed]" value="<%= chilli.conf['uamallowed'] %>" class="rwtext" size="64"/></td>
    </tr>
  </tbody> 
</table>


