<%
  require 'onboard/virtualization/qemu'
%>

  <div id="tabs-remote-bck">
    <ul>
      <li><a href="#tabs-remote-bck-status">Status</a></li>
      <li><a href="#tabs-remote-bck-saved">Backup List</a></li>
    </ul>

    <h3>Remote backups</h3>

    <div id="tabs-remote-bck-status">
      <h4 class="first">Status</h4>

      <p>
  <% if vm.remote_backup? %>
    <% if vm.remote_backup_waiting? %>
      Waiting for other processes to complete. 
    <% else %>
      Taking / Restoring a backup.
    <% end %>
  <% else %>
    <% if OnBoard::V12n::QEMU::RemoteBackup.running? %>
      Other VMs are currently under remote backup operations (taking and/or applying).
    <% else %>
      No backups operations running.
    <% end %>
  <% end %>

<% if vm.remote_backup_cmdline %>
      <p><%= vm.remote_backup? ? 'Running: ' : 'Last remote backup process: ' %><code class="highlight" style="margin-left:0.2em;"> <%= vm.remote_backup_cmdline.join(' ').sub(
    %r{(^.*)bin/rmtbck(.*)$}, 'rmtbck\2'
  )  
  %></code>
<% end %>

<% remote_backup_stdout, remote_backup_stderr = vm.remote_backup_stdout, vm.remote_backup_stderr %>
<% if remote_backup_stdout =~ /\S/m %>
    <pre class="warn" style="margin-top:0.3em;"><%== remote_backup_stdout %></pre>
<% end %>
<% if remote_backup_stderr =~ /\S/m %>
    <pre class="error" style="margin-top:0.3em;"><%== remote_backup_stderr %></pre>
<% end %>
    
    </div> <!-- tabs-remote-bck-status -->

    <div id="tabs-remote-bck-saved">

      <h4>Saved Remote Backup</h4>

      <table>
        <thead>
          <tr>
            <th>Drive</th>
            <th>RmtBck ID</th>
            <th>Date / Time</th>
            <th>Take</th>
            <th>Apply</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% 
            drives_w_rmtbcks = vm.drives.select do |k,v|
              v['rmtbcks'] and v['rmtbcks'].any?
            end
            drives_w_rmtbcks.each_pair do |drive_name, drive|
          %>
            <% drive['rmtbcks'].each do |rmtbck| %>
              <tr>
                <form method="POST">
                  <input type="hidden" name="_method" value="put"/>
                  <input type="hidden" name="rmtbck_drive" value="<%= drive_name %>"/>
                  <td><%= drive_name %></td>
                  <td style="text-align:right;"><%= rmtbck.id %></td>
                  <td><%= rmtbck.time %></td>
                  <% 
                    disabled = OnBoard::V12n::QEMU::RemoteBackup.running?
                  %>
                  <td>
                    <%= action_button :save, :name=>"rmtbck_take[name]", :value=>rmtbck.name, :title=>'Take Backup!', :disabled=>disabled %>
                  </td>
                  <td>
                    <%= action_button :redo, :name=>"rmtbck_apply[name]", :value=>rmtbck.name, :title=>'Restore Backup!', :disabled=>disabled %>
                  </td>
                  <td>
                    <%= action_button :delete, :name=>"rmtbck_delete[name]", :value=>rmtbck.name, :title=>'Delete Backup!', :disabled=>true %>
                  </td>             
                </form>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <form method="POST">
              <input type="hidden" name="_method" value="put"/>
              <td>
                <select name="rmtbck_drive" <%= 'disabled' unless vm.running? %>>
                  <% vm.drives.keys.each do |drive_name| %>
                    <option value="<%= drive_name %>"><%= drive_name %></option>
                  <% end %>
                </select>
              </td>
              <td style="text-align:right;"></td>
              <td><!-- remote backup time -->(Add New)</td>
              <td>
                <%= action_button :save, :name=>"rmtbck_take[name]", :value => '', :title=>'Take New Backup!', :disabled=>(OnBoard::V12n::QEMU::RemoteBackup.running?) %>
              </td>
              <td>
                <%= action_button :redo, :name=>"rmtbck_apply[name]", :title=>'Restore Backup!', :disabled=>true %>
              </td>
              <td>
                <%= action_button :delete, :name=>"rmtbck_delete[name]", :title=>'Delete Backup!', :disabled=>true %>
              </td>             
            </form>
          </tr>

        </tbody>
      </table>
    </div> <!-- tabs-remote-bck-saved -->
  </div> <!-- tabs-remote-bck -->
