<%
  require 'onboard/virtualization/qemu'
%>

  <div id="tabs-remote-bck">
    <ul>
      <li><a href="#tabs-remote-bck-status">Status</a></li>
      <li><a href="#tabs-remote-bck-saved">Snapshot List</a></li>
    </ul>

    <h3>Remote backups</h3>

    <div id="tabs-remote-bck-status">
      <h4 class="first">Status</h4>

      <p>
  <% if vm.snapshotting? %>
    <% if vm.snapshot_waiting? %>
      Waiting for other processes to complete. 
    <% else %>
      Taking / Applying a snapshot.
    <% end %>
  <% else %>
    <% if OnBoard::V12n::QEMU::Snapshot.running? %>
      Other VMs are currently under snapshotting (taking and/or applying).
    <% else %>
      No snanpshot operations running.
    <% end %>
  <% end %>

<% if vm.snapshot_cmdline %>
      <p><%= vm.snapshotting? ? 'Running: ' : 'Last snapshot process: ' %><code class="highlight" style="margin-left:0.2em;"> <%= vm.snapshot_cmdline.join(' ').sub(
    %r{(^.*)bin/snapshot(.*)$}, 'snapshot\2'
  )  
  %></code>
<% end %>

<% snapshot_stdout, snapshot_stderr = vm.snapshot_stdout, vm.snapshot_stderr %>
<% if snapshot_stdout =~ /\S/m %>
    <pre class="warn" style="margin-top:0.3em;"><%== snapshot_stdout %></pre>
<% end %>
<% if snapshot_stderr =~ /\S/m %>
    <pre class="error" style="margin-top:0.3em;"><%== snapshot_stderr %></pre>
<% end %>
    
    </div> <!-- tabs-remote-bck-status -->

    <div id="tabs-remote-bck-saved">

      <h4>Saved Snapshots</h4>

      <p class="info" style="margin-top:0;">
      <span class="term">Disk Only</span> snapshots are taken and applied at 
  machine turned off. Full <span class="term">VM</span> snapshots also include 
  CPU and memory state, and are taken and applied on a <em>running</em> machine 
  (which is temporarily paused during the process). 
      <span class="term">size</span> is the size of non-disk data in such case.
      </p>

<% if vm.quick_snapshots? %>
      <p class="info" style="margin-top:1ex; margin-bottom:2.75ex;">
      A snapshot named <code class="term">_last</code> will be applyed by default
      at next VM startup if possible.
      </p>
<% end %>

      <table>
        <thead>
          <tr>
            <th>Drive</th>
            <th>Snapshot ID</th>
            <th>Tag / Name</th>
            <th>Type</th>
            <th>Date / Time</th>
            <th>Take</th>
            <th>Apply</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% 
            drives_w_snapshots = vm.drives.select do |k,v| 
              v['snapshots'] and v['snapshots'].any?
            end
            drives_w_snapshots.each_pair do |drive_name, drive| 
          %>
            <% drive['snapshots'].each do |snapshot| %>
              <tr>
                <form method="POST">
                  <input type="hidden" name="_method" value="put"/>
                  <input type="hidden" name="snapshot_drive" value="<%= drive_name %>"/>
                  <td><%= drive_name %></td>
                  <td style="text-align:right;"><%= snapshot.id %></td>
                  <td><%= snapshot.tag %></td>
                  <td>
                    <%= 
                      if snapshot.vmsize == '0'
                        'Disk Only'
                      else
                        "VM, size=#{snapshot.vmsize}"
                      end
                    %>
                  </td>
                  <td><%= snapshot.time %></td>
                  <% 
                    disabled = (
                        OnBoard::V12n::QEMU::Snapshot.running?      or
                        ( vm.running?     and snapshot.disk_only? ) or
                        ( not vm.running? and snapshot.full_vm?   )           
                    )
                  %>
                  <td>
                    <%= action_button :save, :name=>"snapshot_take[name]", :value=>snapshot.name, :title=>'Take Snapshot / Save VM!', :disabled=>disabled %>
                  </td>
                  <td>
                    <%= action_button :redo, :name=>"snapshot_apply[name]", :value=>snapshot.name, :title=>'Apply Snapshot / Load VM!', :disabled=>disabled %>
                  </td>
                  <td>
                    <%= action_button :delete, :name=>"snapshot_delete[name]", :value=>snapshot.name, :title=>'Delete Snapshot!', :disabled=>disabled %>
                  </td>             
                </form>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <form method="POST">
              <input type="hidden" name="_method" value="put"/>
              <td>
                <select name="snapshot_drive" <%= 'disabled' if vm.running? %>>
                  <% drives_w_snapshots.keys.each do |drive_name| %>
                    <option value="<%= drive_name %>"><%= drive_name %></option>
                  <% end %>
                </select>
              </td>
              <td style="text-align:right;"></td>
              <td><input type="text" name="snapshot_take[name]" title="Add New"/></td>
              <td>
                <%= 
                  if vm.running?
                    'VM'
                  else
                    'Disk Only'
                  end
                %>
              </td>
              <td><!-- snapshot time -->(Add New)</td>
              <td>
                <%= action_button :save, :title=>'Take New Snapshot / Save VM!', :disabled=>(OnBoard::V12n::QEMU::Snapshot.running?) %>
              </td>
              <td>
                <%= action_button :redo, :name=>"snapshot_apply[name]", :title=>'Apply Snapshot / Load VM!', :disabled=>true %>
              </td>
              <td>
                <%= action_button :delete, :name=>"snapshot_delete[name]", :title=>'Delete Snapshot!', :disabled=>true %>
              </td>             
            </form>
          </tr>

        </tbody>
      </table>
    </div> <!-- tabs-remote-bck-saved -->
  </div> <!-- tabs-remote-bck -->
