  <div id="tabs-status">

<% if vm.running? %>
  <% screenshot_path = "#{vm.uuid_short}/screen.png" %>
  <div style="margin: 0 1em 0 0;float:left;">
    <a title="Click for full-size screenshot" class="img" href="<%= screenshot_path %>"><img src="<%= screenshot_path %>" style="height:25em" id="screenshot"/></a>
    <div id="remote-displays" style="margin:0 0 1em 0; font-style:italic;">
      <% if vnc_uri %>
       <div>VNC available at <a href="<%= vnc_uri %>"><%= vnc_uri %></a></div>
      <% end %>
      <% if spice_uri %>
        <div>SPICE available at <a href="<%= spice_uri %>"><%= spice_uri %></a></div>
      <% end %>
    </div>
  </div>
<% end %>

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
    <div id="runPanel" style="margin:0;padding:0;border:none">
      <%= 
        partial(
          :module => 'qemu',
          :path   => 'virtualization/qemu/vm/_run',
          :locals => {:vm => vm} 
        )
      %>
    </div>
</form>

  </div> <!-- #tabs-status -->

