<% 
  require "pp"
  require "onboard/extensions/string"
  require "onboard/network/interface"

  iface_path = 
      "/network/interfaces/#{Rack::Utils.escape(netif.name)}.html" 
  iface_href ||= {} 
  iface_href = 
      request.path_info == iface_path           ?
      {:open    => '', :close => ''}            :
      {
        :open   => %Q{<a href="#{iface_path}">},   
        :close  => '</a>'
      }
  netif_html = "#{iface_href[:open]}#{netif.name}#{iface_href[:close]}"
%>

            <th scope="row">
              <% if netif.type == 'bridge' %>
                <%=
                  if netif.members.length > 0 
                    netif_html + ':' 
                  else
                    netif_html
                  end
                %>
                <% if netif.members.length > 0 %>
                  <ul>
                    <% netif.members.each do |membername| %>
                      <li style="font-weight:normal;"><%= membername %></li>
                    <% end %>
                  </ul>
                <% end %>
              <% else %>
                <%= netif_html %>
              <% end %>
            </th>

            <td style="text-align: center;">
              <input type="checkbox" <%= 'checked' if netif.data['active'] %> name="netifs[<%= netif.name %>][active]" <%= 'readonly' unless [:static, :dhcp].include? netif.ipassign[:method] %> />
            </td>
            <td><!--<div>--><%== netif.data['state'] %><!--</div>--></td>
            <td><!--<div>-->
              <% if netif.data['type'] == 'bridge' %>
                <a href="<%= '/network/bridges/' + Rack::Utils.escape(netif.name) + '.html' %>" title="Configure <%= netif.name %> bridge">
                  <%= netif.type_hr  %>            
                </a>
              <% else %>
                <%= netif.type_hr %>
              <% end %>
            <!--</div>--></td>
            <td><!--<div>--><%== netif.data['mtu'] %><!--</div>--></td>
            <td>
              <!--<div>--><code><%== netif.data['mac'] %></code><!--</div>-->
            </td>
            <td>
              <% some_ip_printed = false %>

              <% if netif.type == "P-t-P" %>
                <% netif.ip.each_with_index do |ip, ip_n| %>
                  <% begin %>
                    <span class="lowlight"><%= ip.addr.to_s + ' -->&nbsp;' + ip.peer.addr.to_s + '/' + ip.peer.prefixlen.to_s %></span>
                  <% rescue NoMethodError %>
                    <span class="lowlight"><%= ip.addr.to_s %></span>
                  <% end %>
                  <input type="hidden" name="netifs[<%= netif.name %>][ip][<%= ip_n %>]" value="<%= ip.addr.to_s + '/' + ip.prefixlen.to_s %>"/>
                  <% some_ip_printed = true %>
                <% end %>
              <% else %>
                <% if netif.ip.respond_to? :each %>
                  <%
                    if netif.ipassign[:method] != :static
                      ip_input_attributes = 'readonly class="rotext"'
                    else
                      ip_input_attributes = 'class="rwtext"'
                    end
                  %>
                  <% netif.ip.each_with_index do |ip, ip_n| %>
                    <% if ['site', 'global'].include? ip.scope or params['view'] == 'all' %>
                      <div><input <%= ip_input_attributes %> type="text" name="netifs[<%= netif.name %>][ip][<%= ip_n %>]" value="<%= ip.addr.to_s + '/' + ip.prefixlen.to_s %>"/></div>
                      <% some_ip_printed = true %>
                    <% else %>
                      <input type="hidden" name="netifs[<%= netif.name %>][ip][<%= ip_n %>]" value="<%= ip.addr.to_s + '/' + ip.prefixlen.to_s %>"/>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>  

              <% if netif.ipassign[:method] == :static %>
                <div><input class="rwtext" type="text" name="netifs[<%= netif.name %>][ip][<%= netif.ip ? (netif.ip.length + 0) : 0 %>]" value="[add new]"/></div>
              <% end %>

              <% if netif.ipassign[:method] == :dhcp and netif.ipassign[:cmd] =~ /\S+/ and not some_ip_printed %>
                <small><code><%= netif.ipassign[:cmd] %></code> running...</small>
              <% end %>

              <% 
                unless some_ip_printed or netif.ipassign[:method] == :static 
                # method static implies that "add new" has been printed...
              %>
                &nbsp; <!-- make certain browsers happy :-/ -->
              <% end %>

            </td>       
            <td>
              <% if [:static, :dhcp].include? netif.ipassign[:method] %>
                <select name="netifs[<%= netif.name %>][ipassign][method]">
                  <option value="dhcp" <%= "selected" if netif.ipassign[:method] == :dhcp %>>DHCP</option>
                  <option value="static" <%= "selected" if netif.ipassign[:method] == :static %>>Static</option>
                </select>
              <% else %>
                <input type="hidden" name="netifs[<%= netif.name %>][ipassign][method]" value="<%= netif.ipassign[:method].to_s %>"/>
                <div style="text-align:center;">
                  <%= 
                    if netif.ipassign[:method] == :none
                      'None'
                    else
                      netif.type_hr
                    end
                  %> 
                </div>
              <% end %>
              <% %w{pid cmd args}.each do |what| %>
                <input type="hidden" name="netifs[<%= netif.name %>][ipassign][<%= what %>]" value="<%= netif.ipassign[what.to_sym] %>"/>
              <% end %>
              <% if netif.ipassign[:method] == :dhcp%>
                <div style="display:inline-block; margin-left:0.4em;">
                  <span style="vertical-align:bottom">+Renew</span><input type="checkbox" name="netifs[<%= netif.name %>][ipassign][renew]">
                </div>
              <% end %>
            </td> 
            <td style="text-align:center;">
              <input class="rwtext" type="text" size="6" name="netifs[<%= netif.name %>][preferred_metric]" value="<%= netif.preferred_metric %>"/>
            </td>
            <td>
              <% 
                str = ''
                begin
                  str += (netif.vendor  + ' ')  
                rescue NoMethodError
                end
                begin
                  str += (netif.model   + ' ') 
                rescue NoMethodError
                end
              %>
              <%= str %>
            </td>
            <td>
              <%= netif.bus.upcase if netif.bus %>
            </td>
     
