<% 
  require "pp"
  require "onboard/extensions/string"
  require "onboard/network/interface"
%>
  <% fieldnames = %w{Name Active/State Type MTU MAC\ Address IP\ Addresses Method Preferred<br/>Metric Vendor/Model Bus} %>
  <% colspans = [1, 2, 1, 1, 1, 1, 1, 1, 1, 1] %>
  <form method="post"> 
    <input type="hidden" name="_method" value="put"/>
    <table>
      <thead> 
      <tr>
        <% fieldnames.each_index do |i| %>
          <th colspan="<%= colspans[i] %>">
            <%= fieldnames[i] %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <%=
            erubis(
              :"network/_interfaces_rows.html",
              {
                :layout => false,
                :locals => {:objects => objects}
              }  
            )
        %>
      </tbody>
    </table>
    <button type="submit">Change</button>
    (<a href="<%= request.fullpath %>">Refresh</a>)
    <% showhide = 
      'loopback, raw ieee802.11 interfaces and IPv6 link-local addresses' %>
    <% if params['view'] == 'all' %>
      (<a title="Hide <%= showhide %>" 
        href="<%= request.path_info %>">Compact view</a>)
    <% else %>
      (<a title="Show <%= showhide %>"
        href="<%= request.path_info + '?view=all' %>">Full view</a>)
    <% end %>
  </form>

