<%
  # bridges.html.erb -- Modeled on interfaces.html.erb

  require 'rack/utils'
  require "onboard/extensions/string"
  require "onboard/network/interface"
%>

  <h2>Network bridges</h2>

<%=
  erb(
    :"/_messages.html",
    {
      :layout => false,
      :locals => {
        :msg    => msg,
        :status => status
      }
    }
  )
%>

  <% fieldnames = %w{Bridge Interfaces Active/State MTU MAC\ Address IP\ Addresses Method STP\ enabled?} %>
  <% colspans = [1, 1, 2, 1, 1, 1, 1, 1, 1] %>
  <form method="post">
    <input type="hidden" name="_method" value="put"/>
    <table>
     <thead>
      <tr>
        <% fieldnames.each_index do |i| %>
          <th style="font-weight: bold; font-size:80%; text-align: center;" colspan="<%= colspans[i] %>">
            <%= fieldnames[i] %>
          </th>
        <% end %>
      </tr>
     <tbody>
      <%
        objects.each do |netif| # TODO: block argument sould be called 'bridge'
      %>
        <tr>
          <td>
            <div>
              <a href="<%= 'bridges/' + Rack::Utils.escape(netif.name) + '.html' %>" title="View/Edit bridge details">
                  <%= netif.name %>
              </a>
            </div>
          </td>
          <td>
            <% if netif.members.length > 0 %>
              <ul>
                <% netif.members.each do |membername| %>
                  <li><a href="<%= 'interfaces/' + Rack::Utils.escape(membername) + '.html' %>"><%= membername %></a></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td>
            <input type="checkbox" <%= 'checked' if netif.data['active'] %> name="netifs[<%= netif.name %>][active]"/>
          </td>
          <td><div><%= netif.data['state'] %></div></td>
          <td><div><%= netif.data['mtu']   %></div></td>
          <td>
            <div><code><%= netif.data['mac'] %></code></div>
          </td>
          <td>
            <% some_ip_printed = false %>
            <% if netif.ip.respond_to? :each %>
              <%
                if netif.ipassign[:method] == :dhcp
                  ip_input_attributes = 'readonly class="rotext"'
                else
                  ip_input_attributes = 'class="rwtext"'
                end
              %>
              <% netif.ip.each_with_index do |ip, ip_n| %>
                <% if ['site', 'global'].include? ip.scope or params['view'] == 'all' %>
                  <div><input <%= ip_input_attributes %> type="text" name="netifs[<%= netif.name %>][ip][<%= ip_n %>]" value="<%= ip.addr.to_s + '/' + ip.prefixlen.to_s %>"/></div>
                  <% some_ip_printed = true %>
                <% else %>
                  <input type="hidden" name="netifs[<%= netif.name %>][ip][<%= ip_n %>]" value="<%= ip.addr.to_s + '/' + ip.prefixlen.to_s %>"/>
                <% end %>
              <% end %>
            <% end %>
            <% if netif.ipassign[:method] == :static and netif.active %>
              <div><input class="rwtext" type="text" name="netifs[<%= netif.name %>][ip][<%= netif.ip ? (netif.ip.length + 0) : 0 %>]" value="[add new]"/></div>
            <% end %>
            <% if netif.ipassign[:method] == :dhcp and netif.ipassign[:cmd] =~ /\S+/ and not some_ip_printed %>
              <small><code><%= netif.ipassign[:cmd] %></code> running...</small>
            <% end %>
          </td>
          <td>
            <select name="netifs[<%= netif.name %>][ipassign][method]">
              <option value="dhcp" <%= "selected" if netif.ipassign[:method] == :dhcp %>>DHCP</option>
              <option value="static" <%= "selected" if netif.ipassign[:method] == :static %>>Static</option>
            </select>
            <% %w{pid cmd args}.each do |what| %>
              <input type="hidden" name="netifs[<%= netif.name %>][ipassign][<%= what %>]" value="<%= netif.ipassign[what.to_sym] %>"/>
            <% end %>
          </td>
          <td style="text-align: center">
            <input type="hidden"    name="brctl[stp][<%= netif.name %>]" value="off"/>
            <input type="checkbox"  name="brctl[stp][<%= netif.name %>]" <%= 'checked' if netif.stp %>/>
          </td>
        </tr>
      <% end %>
    </table>
    <button type="submit">Change</button>
    (<a href="<%= request.fullpath %>">Refresh</a>)
    <% showhide = 'IPv6 link-local addresses' %>
    <% if params['view'] == 'all' %>
      (<a title="Hide <%= showhide %>"
        href="<%= request.path_info %>">Compact view</a>)
    <% else %>
      (<a title="Show <%= showhide %>"
        href="<%= request.path_info + '?view=all' %>">Full view</a>)
    <% end %>
  </form>

  <h3>Create new bridge</h3>
  <form method="POST">
    <input type="text" name="brctl[addbr]"/>
    <button type="submit">Create</button>
  </form>
