<% require 'onboard/extensions/array' %>

<h2>DHCP Server</h2>

  <%=
    erb(
      :"/_messages.html",
      {
        :layout => false,
        :locals => {
          :msg => msg,
          :status => status
        }
      }
    )
  %>

<%
  dhcp_ranges       = objects.data['conf']['dhcp']['ranges']
  dhcp_fixed_hosts  = objects.data['conf']['dhcp']['fixed-hosts']
  dhcp_hosts        = dhcp_fixed_hosts
  dhcp_leases       = objects.data['leases']
  # Arrays of Hash'es

  dnsmasq_leasetimes = %w{5m 15m 30m 45m 1h 2h 3h 4h 6h 8h 12h 18h 24h infinite}
%>

<% fieldnames = %w{Delete? Start\ IP End\ IP Lease\ time} %>
<% colspans   =   [1,      1,        1,      1]           %>

<h3>Ranges</h3>
<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <table>
    <thead>
      <tr>
        <%  fieldnames.each_index do |i| %>
          <th colspan="<%= colspans[i] %>">
            <%= fieldnames[i] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% dhcp_ranges.each_with_index do |dhcp_range, idx| %>
        <tr>
          <td style="text-align:center;">
            <input type="checkbox" name="ranges[<%= idx %>][delete]"/>
          </td>
          <td>
            <input type="text" class="rwtext" name="ranges[<%= idx %>][ipstart]" value="<%= dhcp_range['ipstart'] %>"/>
          </td>
          <td>
            <input type="text" class="rwtext" name="ranges[<%= idx %>][ipend]" value="<%= dhcp_range['ipend'] %>"/>
          </td>
          <td>
            <select name="ranges[<%= idx %>][leasetime]">
              <% dnsmasq_leasetimes.each do |leasetime| %>
                <option value="<%= leasetime %>" <%= "selected" if leasetime == dhcp_ranges[idx]['leasetime'] %>><%= leasetime %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>

      <tr style="height:1px;">
        <td colspan="<%= colspans.sum %>"> </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <span></span>
        </td>
        <td>
          <input type="text" class="rwtext" name="ranges[<%= dhcp_ranges.length %>][ipstart]" value="[add new]"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="ranges[<%= dhcp_ranges.length %>][ipend]" value="[add new]"/>
        </td>
        <td>
          <select name="ranges[<%= dhcp_ranges.length %>][leasetime]">
            <% dnsmasq_leasetimes.each do |leasetime| %>
              <option value="<%= leasetime %>" <%= "selected" if leasetime == '1h' %>><%= leasetime %></option>
            <% end %>
          </select>
        </td>
      </tr>

    </tbody>
  </table>
  <button type="submit">Change</button>



  <h3>Fixed hosts</h3>
<% fieldnames = %w{Delete? Hardware\ address\ (MAC)  IP\ address Lease\ time} %>
<% colspans   =   [1,      1,                        1,          1]           %>

  <table>
    <thead>
      <tr>
        <%  fieldnames.each_index do |i| %>
          <th colspan="<%= colspans[i] %>">
            <%= fieldnames[i] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% dhcp_fixed_hosts.each_with_index do |dhcp_host, idx| %>
        <tr>
          <td style="text-align:center;">
            <input type="checkbox" name="hosts[<%= idx %>][delete]"/>
          </td>
          <td>
            <input type="text" class="rwtext" name="hosts[<%= idx %>][mac]" value="<%= dhcp_host['mac'] %>"/>
          </td>
          <td>
            <input type="text" class="rwtext" name="hosts[<%= idx %>][ip]" value="<%= dhcp_host['ip'] %>"/>
          </td>
          <td>
            <select name="hosts[<%= idx %>][leasetime]">
              <% dnsmasq_leasetimes.each do |leasetime| %>
                <option value="<%= leasetime %>" <%= "selected" if leasetime == dhcp_hosts[idx]['leasetime'] %>><%= leasetime %></option>
              <% end %>
            </select>
          </td>
        </tr>
      <% end %>

      <tr style="height:1px;">
        <td colspan="<%= colspans.sum %>"> </td>
      </tr>

      <tr>
        <td style="text-align: center;">
          <span></span>
        </td>
        <td>
          <input type="text" class="rwtext" name="hosts[<%= dhcp_hosts.length %>][mac]" value="[add new]"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="hosts[<%= dhcp_hosts.length %>][ip]" value="[add new]"/>
        </td>
        <td>
          <select name="hosts[<%= dhcp_hosts.length %>][leasetime]">
            <% dnsmasq_leasetimes.each do |leasetime| %>
              <option value="<%= leasetime %>" <%= "selected" if leasetime == 'infinite' %>><%= leasetime %></option>
            <% end %>
          </select>
        </td>
      </tr>

    </tbody>
  </table>
  <button type="submit">Change</button>

  <h3>Granted Leases</h3>
  <% fieldnames = %w{Hostname Hardware\ address\ (MAC)  IP\ address Expires} %>
  <% colspans   =   [1,       1,                        1,          1]       %>
  <table>
    <thead>
      <tr>
        <%  fieldnames.each_index do |i| %>
          <th colspan="<%= colspans[i] %>">
            <%= fieldnames[i] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% style = "padding: 0.5em; " %>
      <% dhcp_leases.each do |lease| %>
        <%
          if lease['expiry'].to_i > 0
            begin
              expiry = Time.at lease['expiry'].to_i
            rescue RangeError
              expiry = 'Never'
            end
          else
            expiry = 'Never'
          end # A Time or String object, will be coerced to_s ...
        %>
        <tr>
          <td style="<%= style %>"><%= lease['name'] %></td>
          <td style="<%= style %>"><%= lease['mac'] %></td>
          <td style="<%= style %>"><%= lease['ip'] %></td>
          <td style="<%= style %>"><%= expiry %></td> <%#... here %>
        </tr>
      <% end %>
    </tbody>
  </table>

</form>
