<%
  hostname    = OnBoard::System::Hostname.hostname
  domainname  = OnBoard::System::Hostname.domainname
%>

<h2 style="margin-bottom:0;">DNS</h2>
<p style="margin-top:0; padding-top:0;" class="optinfo">Based on
<a href="http://www.thekelleys.org.uk/dnsmasq/doc.html">Dnsmasq</a>.</p>

  <%=
    erb(
      :"/_messages.html",
      {
        :layout => false,
        :locals => {
          :msg => msg,
          :status => status
        }
      }
    )
  %>

<h3>Hostname and domain name</h3>
<span style="font-weight:bold; margin-right:1ex">
  <% tag_none = 'span class="lowlight"' %>
  <%= hostname    || tag(tag_none, '(none)', :if => !hostname)    %><%#
%>.<%#
%><%= domainname  || tag(tag_none, '(none)', :if => !domainname)  %>
</span>
[<a target="_blank" href="../system/hostname.html">change</a>]

<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <h3>Name servers</h3>
  <table>
    <thead>
      <tr>
        <th>IP address[#port]</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% objects.data['resolvconf']['nameservers'].each do |ns| %>
        <tr>
          <td>
            <input type="text" readonly class="rotext" value="<%= ns %>"/>
          </td>
          <td>
            <em>got automatically (from an upstream router, etc.)</em>
          </td>
        </tr>
      <% end %>
      <% [0, 1, 2].each do |nsh_i| %>
        <%
          nsh = objects.data['conf']['dns']['nameservers'][nsh_i]
          nsh = {'ip' => '', 'comment' => ''} unless nsh
        %>
        <tr>
          <td>
            <% if nsh['port'] %>
              <input type="text" class="rwtext" name="nameservers[][ip]" value="<%= nsh['ip'] %>#<%= nsh['port'] %>"/>
            <% else %>
              <input type="text" class="rwtext" name="nameservers[][ip]" value="<%= nsh['ip'] %>"/>
            <% end %>
          </td>
          <td>
            <input type="text" size="48" class="humantext" name="nameservers[][comment]" value="<%= nsh['comment'] %>"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--
  <h3>Local domain</h3>
  <em>Machines served by DHCP will register their name in this domain</em><br/>
  <input type="text" class="rwtext" name="localdomain" value="<%= objects.data['conf']['dns']['localdomain'] %>"/>

  <h3>Search domain</h3>
  <em>Usually the same as Local domain</em><br/>
  <input type="text" class="rwtext" name="searchdomain" value="<%= objects.data['conf']['dns']['searchdomain'] %>"/>
  -->
  <button style="margin-top:0.9em;" type="submit">Change</button>
</form>
