<% 
  require "pp"
  require "onboard/extensions/string"
  require "onboard/network/interface"
%>

<% if objects.class == Array %>
  <h2><%= title %></h2>
  <%= 
    erb(
      :"network/_interfaces_table.html", 
      {
        :layout => false, 
        :locals => {:objects => objects}
      }
    )  
  %> 
<% else %>

      <% netif = objects %>
      <h2>Network interface: <%= netif.name %></h2>
      <div class="item">
        <pre><%== netif.pretty_inspect  %></pre>
      </div>

      <a href="<%= request.path_info.to_dir + '/ip.html' %>">
        <span class="menu1">IP addresses</span>
      </a>

<% end %>

<div class="warn">
Please note: changes to interface routing <span class="th-like">Metric</span>s will only be effective
the next time
IP configuration is negotiated via DHCP, or the next time
a <a href="routing/tables/main.html">static route</a> is added or replaced.
Check to <a href="routing/tables/main.html">routing table</a> to see the actual metrics
(optionally, you may want to check routing tables <a href="routing/tables/main.html">other than the main one</a>
if <a href="routing/rules.html">policy routing</a> is used).
</div>