<% 
  require "pp"
  require "onboard/extensions/string"
  require "onboard/network/interface"
%>

<% if objects.class == Array %>
  <h2><%= title %></h2>
  <%= 
    erb(
      :"network/_interfaces_table.html", 
      {
        :layout => false, 
        :locals => {:objects => objects}
      }
    )  
  %> 
<% else %>

      <% netif = objects %>
      <h2>Network interface: <%= netif.name %></h2>
      <div class="item">
        <pre><%== netif.pretty_inspect  %></pre>
      </div>

      <a href="<%= request.path_info.to_dir + '/ip.html' %>">
        <span class="menu1">IP addresses</span>
      </a>

<% end %>

<div class="warn">
<p>On <span class="th-like">Preferred Metric</span>, please note:
changes to interface routing metrics will only be effective
the next time
IP configuration is negotiated via DHCP,
or possibly other auto configuration mechanisms.

<p>For statically configured interfaces, the <span class="th-like">Preferred Metric</span>
is simply a <em>default</em> value that will be used when adding or replacing
<a href="routing/tables/main.html">static&nbsp;routes</a> [*].

<p>Please refer to the <a href="routing/tables/main.html">main routing table</a>
page
to see the route metrics currently in effect [*].

<hr>

<p class="footnote">[*]
If <a href="routing/rules.html">policy routing</a> is used,
<a href="routing/tables/main.html">routing tables other than the main one</a>
may need to be considered too.
</div>