<%
  # not just SNAT, also MASQUERADE target
%>

<%
  require 'pp'

  require 'onboard/network/interface'
  require 'onboard/network/routing/table'

  all_interfaces = OnBoard::Network::Interface.getAll_layer3
  # all_interfaces.delete_if {|x| x.type == "loopback"}
  interface_names = all_interfaces.map {|x| x.name}

  rt_table = OnBoard::Network::Routing::Table.getCurrent()

  defaultroute_ifname = nil

  iptablesobj       = objects

  ip_version        = iptablesobj.ip_version  # useful? NAT is v4 only...

  rt_table.each_route do |rt|
    if
        rt.dest.family        == Socket::AF_INET  and # NAT is v4 only...
        rt.dest.to_i          == 0                and
        rt.dest.netmask.to_i  == 0

      defaultroute_ifname = rt.dev

    end
  end
%>
<style type="text/css">
  td {
    text-align: center;
  }
</style>
<h2>Source NAT / Internet connection sharing</h2>

  <%=
    erb(
      :"/_messages.html",
      {
        :layout => false,
        :locals => {
          :msg => msg,
          :status => status
        }
      }
    )
  %>

<h3>NAT rules</h3>

<% chainname = 'POSTROUTING' %>
<% chain = iptablesobj.tables['nat'].chains[chainname] %>
<% if chain %>
  <h4>Chain <%= chain.name %></h4>
  <table>
    <thead>
      <tr>
        <% chain.listfields[0..0].each do |fieldname| %>
          <th colspan="4"><%= fieldname  %></th>
        <% end %>
        <% chain.listfields[1..-1].each do |fieldname| %>
          <th><%= fieldname  %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% chain.rules.each_with_index do |rule, rule_idx| %>
        <tr>
          <form method="POST">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="chain" value="<%= chain.name %>"/>
            <input type="hidden" name="rulenum" value="<%= rule[0] %>"/>
            <%
            # rule is an Array of fields, the first (rule[0]) represents
            # rulenum according to iptables conventions (starts from 1)
            #
            # Other "fields" come directly from iptables -L -v -n
            #
            # chain.rules is the Array of such arrays
            #
            # It is: rule_idx = rule[0] - 1
            %>
            <input type="hidden" name="rulespec" value="<%= chain.rulespecs[rule_idx] %>"/>
            <%
            # we cannot use rulenum to move up/down a rule; we have to delete
            # it, then recreate in a different position, so we need the full
            # rule specification
            %>
            <td>
              <strong class="highlight"><%= rule[0] %></strong> <!-- rule number -->
            </td>
            <td>
              <button type="submit" name="del_rule" title="Remove"><img src="<%= icondir + '/16x16/actions/remove.png'%>" alt="Remove" title="Remove"/></button>
            </td>
            <td>
              <%
                # first rule in the chain, so cannot move up? => disable button!
              %>
              <button <%= 'disabled' if rule[0] == 1 %> type="submit" name="move_rule_up" title="Move up"><img src="<%= icondir + '/16x16/actions/go-up.png'%>" alt="Move up" title="Move up"></button>
            </td>
            <td>
              <%
                # last rule in the chain, so cannot move down? => disable button!
              %>
              <button <%= 'disabled' if rule[0] == chain.rules.length %> type="submit" name="move_rule_down" title="Move down"><img src="<%= icondir + '/16x16/actions/go-down.png'%>" alt="Move down" title="Move down"/></button>
            </td>
            <% rule[1..-2].each do |value| %>
              <td><%= value %></td>
            <% end %>
            <!-- "misc" -->
            <%
              title = ""
              if rule[3] =~ /LOG/
                title << 'Some reasonable defaults have been added to avoid LOG flooding'
              end
            %>
            <td title="<%= title %>" style="text-align: left;"><kbd><%= escape_html rule[-1] %></kbd></td>
          </form>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Add a new rule</h3>
<h4>Outgoing packets:</h4>
<form method="POST">
  <input type="hidden" name="_method" value="put"/>
  <table>
    <thead>
      <tr>
        <th>
          Add!
        </th>
        <th>
          Append/Insert
        </th>
        <th>
          Output interface
        </th>
        <th>
          Protocol
        </th>
        <th>
          Destination Address/Network
        </th>
        <th>
          Destination Port
          <div class="optinfo">
            You may also specify an interval, e.g. '5000:8000'
          </div>
        </th>
        <th>
          Comment
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center;">
          <button title="Add rule" type="submit" name="add_rule"><img src="<%= icondir + '/16x16/actions/add.png'%>" alt="add"/></button>
        </td>
        <td>
          <select name="append_insert">
            <option value="-A">Append</option>
            <option value="-I" selected>Insert</option>
          </select>
        </td>
        <input type="hidden" name="chain" value="POSTROUTING"/>
        <td>
          <select name="output_iface">
            <option value=""></option>
            <% interface_names.each do |ifname| %>
              <option value="<%= ifname %>" <%= 'selected' if ifname == defaultroute_ifname%>><%= ifname %></option>
            <% end %>
          </select>
        </td>
        <td>
          <select name="proto">
            <option value=""></option>
            <option value="tcp">TCP</option>
            <option value="udp">UDP</option>
            <!-- <option value="icmp">ICMP</option> -->
              <!-- does it make any sense ? -->
          </select>
        </td>
        <td>
          <input type="text" class="rwtext" name="dest_addr"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="dest_ports" size="11" title="Use colon for port interval, e.g. `2100:2200'"/>
        </td>
        <td>
          <input type="text" name="comment" class="humantext"/>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
     <thead>
      <tr>
        <th>
          Source address/network
        </th>
        <th>
          Source port/interval
        </th>
        <th title="Not acceptable for source NAT / POSTROUTING" disabled>
          Source MAC
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="rwtext" name="source_addr"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="source_ports"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="mac_source" disabled title="Not acceptable for source NAT / POSTROUTING"/>
        </td>
      </tr>
    </tbody>
  </table>
  <h4>Action</h4>
  <fieldset>
    <span>
      <input type="radio" name="jump-target" value="SNAT" checked />
      <span style="vertical-align: middle;">Source NAT</span>
    </span>
    <span>
      <input type="radio" name="jump-target" value="MASQUERADE" checked/>
      <span style="vertical-align: middle;">MASQUERADE (Simple Internet connection sharing)</span>
    </span>
    <span title="Do not perform any transformation or redirection, just let the traffic through">
      <input type="radio" name="jump-target" value="ACCEPT"/>
      <span style="vertical-align: middle;">Do nothing (&ldquo;ACCEPT&rdquo;)</span>
    </span>
  </fieldset>
  <h4>Rewrite source as (SNAT only):</h4>
  <table>
    <thead>
      <tr>
        <th>
          IP Address
          <div class="optinfo">
            You may also specify an interval, e.g. '1.2.3.100-1.2.4.200'
          </div>
        </th>
        <th>
          Port
          <div class="optinfo">
            You may also specify an interval, e.g. '15000-35000'
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" class="rwtext" name="to-source_addr"/>
        </td>
        <td>
          <input type="text" class="rwtext" name="to-source_port" size="11"/>
        </td>
      </tr>
    </tbody>
  </table>
</form>
