<%
# locals:
#
# select_name # <select name="..." ... > # e.g. "rules[][table]"
# all_tables  # result of OnBoard::Network::Routing::Table.getAllIDs
# rule        # OnBoard::Network::Routing::Rule object, even a 'blank' one

%>
          <select class="tt" name="<%= select_name %>">
            <optgroup label="System Tables">
              <% all_tables['system_tables'].each_pair do |n, tbl| %>
                <%
                  next if n == 0 # skip 'unspec' for obvious reasons
                %>
                <option class="tt" value="<%= n %>" <%= 'selected' if [n.to_s, tbl.to_s].include? rule.table.to_s %>><%= sprintf("%3d", n).gsub(' ', '&nbsp;') %>: <%= tbl %></option>              <% end %>
            </optgroup>
            <optgroup label="Custom Tables">
              <% all_tables['custom_tables'].each_pair do |n, tbl| %>
                <option class="tt" value="<%= n %>" <%= 'selected' if [n.to_s, tbl.to_s].include? rule.table.to_s %> ><%= sprintf("%3d", n).gsub(' ', '&nbsp;') %>: <%= tbl %></option>
              <% end %>
            </optgroup>
          </select>

