<% require 'onboard/network/routing/table' %>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% tables.keys.sort.each do |number|  %>
      <% name = tables[number] %>
        <tr>
          <th scope="row" style="text-align:right;"><a href="tables/<%= number %>.html"><%= number %></a></th>
        <% if name %>
          <td><a href="tables/<%= name || number %>.html"><code><%= name %></code></a></td>
        <% else %>
          <td style="text-align:right;"><a href="tables/<%= name || number %>.html">(no name)</a></td>
        <% end %>
        <td style="font-style:italic"><%= comments[number] || OnBoard::Network::Routing::Table.id2comment(number, name) || '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
