<% 
  require 'onboard/system/log'

  vpn = objects
  log = OnBoard::System::Log.new({'path' => vpn.logfile}) 
%>
<style type="text/css">
  table tr td {
    padding: 0.5em;
  }
</style>
<h2>VPN<%= "##{vpn.data['human_index']}" if vpn.data['human_index'] %> details<% if vpn.data['server'] %> (server)<% end %></h2>
<!-- 
  As usual, maybe we are not strictly ReSTful, but we find it convenient
  to PUT/GET the whole set of configured clients, instead of 
  POST/DELETE/PUT/GET single ones. Moreover, HTML doesn't allow nested 
  forms.

  This doesn't scale, but it it's unlikely that an OpenVPN server connects
  hundreds of clients (each one with an entire LAN behind it).
-->
<pre><%= html_escape params.pretty_inspect %></pre>

<% if vpn.data['server'] %>
  <h3>Advanced, per-client configuration</h3>
  <form method="POST">
    <input type="hidden" name="_method" value="put">
    <table>
      <thead>
        <tr>
          <th>
            &ldquo;Common Name&rdquo;
          </th>
          <th>
            Route networks
            <div class="optinfo">  
              List of networks, one per line, which are behind the client and
              you want to make securely accessible through the VPN.
            </div>
          </th>
          <th>
            Push routes
            <div class="optinfo">  
              List of networks, one per line, which are behind this server
              and you want to make securely accessible from the client.
            </div>
          </th>
          <th>
            Delete?
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>example_CN</code></td>
          <td>
            <textarea name="clients[example_CN][routes]" cols=16 rows=2 wrap=off>192.168.33.0/24</textarea> 
          </td>
          <td>
            <textarea name="clients[example_CN][push_routes]" cols=16 rows=2 wrap=off>192.168.35.0/24
192.168.36.0/24</textarea>
          </td>
          <td style="text-align: center;">
            <input type="checkbox" name="clients[example_CN][delete]"/> 
          </td>
        </tr>
        <tr>
          <td><input type="text" class="rwtext"/></td>
          <td>
            <textarea cols=16 rows=2 wrap=off></textarea> 
          </td>
          <td>
            <textarea cols=16 rows=2 wrap=off></textarea>
          </td>
          <td style="text-align: center;">
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit">Change!</button>
  </form>
<% end %>

<% if vpn.data['clients'] %><!-- It's a server -->
  <h3>Connected clients</h3>
  <% if vpn.data['status_update_seconds'] %>
    <p class="optinfo">List updated every <%= vpn.data['status_update_seconds'] %> seconds.</p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>&ldquo;Common Name&rdquo;</th>
        <th>Real Address/Port</th>
        <th>Virtual Address</th>
        <th>Bytes Received</th>
        <th>Bytes Sent</th>
        <th>Connected Since</th>
      </tr>
    </thead>
    <tbody>
      <% vpn.data['clients'].each do |client| %>
        <tr>
          <td><code><%= client['Common Name'] %></code></td>
          <td><%= client['Real Address'] %></td>
          <td><%= client['Virtual Address'] %></td>
          <td><%= client['Bytes Received'] %></td>
          <td><%= client['Bytes Sent'] %></td>
          <td><%= client['Connected Since'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3><span class="product-name">OpenVPN</span> log</h3>
<%=
  erb(:"system/_log.html", :layout => false, :locals => {:log => log})
%>


