<%
  require 'onboard/system/log'
  require 'onboard/network/openvpn/convert'

  vpn = objects
  log = OnBoard::System::Log.new({'path' => vpn.logfile})
%>
<style type="text/css">
  table tr td {
    padding: 0.5em;
  }
</style>

<h2>VPN <%= "##{vpn.data['human_index']}" if vpn.data['human_index'] %> details<% if vpn.data['server'] %> (server)<% end %></h2>
<!--
  As usual, maybe we are not strictly ReSTful, but we find it convenient
  to PUT/GET the whole set of configured clients, instead of
  POST/DELETE/PUT/GET single ones. Moreover, HTML doesn't allow nested
  forms.

  This doesn't scale, but it it's unlikely that an OpenVPN server connects
  hundreds of clients (each one with an entire LAN behind it).
-->

UUID:&nbsp;<code><%= vpn.uuid %></code>
&nbsp;|&nbsp;
Certificate&rsquo;s&nbsp;CN:&nbsp;<code><%= vpn.data['cert']['subject']['CN'] %></code>

<% if vpn.data['server'] %>
  <% unless vpn.data['dev-type'] == 'tap' %>
    <h3>Advanced clients configuration</h3>
  <% end %>
  <form method="POST">
    <input type="hidden" name="_method" value="put">
    <% if vpn.data['dev-type'] == 'tap' %>
      <!-- nothing here -->
    <% else %>
      <h4>Routes</h4>
      <table>
        <thead>
          <tr>
            <th>Client&rsquo;s &ldquo;Common Name&rdquo;</th>
            <th style="width:42ex">
              Route networks
              <div class="optinfo">
                <p>
                  List of networks, one per line, which are behind the client and
                  you want to make securely accessible through the VPN.
                </p>
                <p>
                  You can either use <a href="http://en.wikipedia.org/wiki/Subnet_mask">netmask</a> or <a href="http://en.wikipedia.org/wiki/CIDR_notation">CIDR notation</a>.
                </p>
              </div>
            </th>
            <th style="width:42ex">
              Push routes
              <div class="optinfo">
                <p>
                  List of networks, one per line, which are behind this server
                  and you want to make securely accessible from the client.
                </p>
                <p>
                  You can either use <a href="http://en.wikipedia.org/wiki/Subnet_mask">netmask</a> or <a href="http://en.wikipedia.org/wiki/CIDR_notation">CIDR notation</a>.
                </p>
              </div>
            </th>
            <th style="width: 11ex">Push Route Metric<div class="optinfo">Route metric to be set in clients</div></th>
            <th>
              Delete?
            </th>
          </tr>
        </thead>
        <% network_textarea_columns = 32 %>
        <% network_textarea_rows = 3 %>
        <% cols = network_textarea_columns %>
        <% rows = network_textarea_rows %>
        <tbody>
          <!-- A first row for "All clients" -->
          <tr>
            <td><strong>All clients</strong></td>
            <td></td>
            <%
              text = vpn.data['push'] ?
                OnBoard::Network::OpenVPN::Convert.routes2textarea(vpn.data['push']['routes']) :
                ''
            %>
            <td>
              <textarea name="push_routes" cols=<%= cols %> rows=<%= rows %> wrap=off><%= text %></textarea>
            </td>
            <td style="text-align: center">
              <input type="text" name="push_route_metric" value="<%= vpn.data['push'] && vpn.data['push']['route_metric'] %>" class="rwtext" size="7">
            </td>
            <td></td>
          </tr>
          <!-- Client rows -->
          <% vpn.data['client-config'].each_pair do |cn, h| %>
            <tr>
              <td><code><%= cn %></code></td>
              <input type="hidden" name="clients[][CN]" value="<%= cn %>">
              <td>
                <%
                  # text = ''
                  # h['iroutes'].each do |route|
                  #   text << "#{route['net']}/#{route['mask']}\n"
                  # end
                  text = OnBoard::Network::OpenVPN::Convert.routes2textarea(h['iroutes'])
                %>
                <textarea name="clients[][routes]" cols=<%= cols %> rows=<%= rows %> wrap=off><%= text %></textarea>
              </td>
              <td>
                <%
                  text = OnBoard::Network::OpenVPN::Convert.routes2textarea(h['push']['routes'])
                %>
                <textarea name="clients[][push_routes]" cols=<%= cols %> rows=<%= rows %> wrap=off><%= text %></textarea>
              </td>
              <td style="text-align: center">
                <input type="text" name="clients[][push_route_metric]" value="<%= h['push']['route_metric'] %>" class="rwtext" size="7"/>
              </td>
              <td style="text-align: center;">
                <input type="checkbox" name="clients[][delete]"/>
              </td>
            </tr>
          <% end %>
          <!-- New client -->
          <tr>
            <td>
              <!-- <p class="optinfo" style="margin-bottom: 0.5em;">New client-specific routes configuration</p> -->
              <input title='Add a new client&rsquo;s "Common Name" ' name="clients[][CN]" type="text" class="rwtext" style="width: 94%; margin: auto"/>
            </td>
            <td>
              <textarea name="clients[][routes]" cols=<%= cols %> rows=<%= rows %> wrap=off></textarea>
            </td>
            <td>
              <textarea name="clients[][push_routes]" cols=<%= cols %> rows=<%= rows %> wrap=off></textarea>
            </td>
            <td style="text-align: center">
              <input type="text" name="clients[][push_route_metric]" class="rwtext" size="7"/>
            </td>
            <td style="text-align: center;">
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <h4>Options</h4>
    <table style="margin-bottom: 1em;">
      <tbody>
        <tr>
          <th scope="row">Allow client-to-client communication</th>
          <td><input type="checkbox" name="client_to_client" <%= 'checked' if vpn.data['client-to-client'] %>/></td>
        </tr>
      </tbody>
    </table>
    <button type="submit">Change!</button>
  </form>
<% end %>

<% if vpn.data['clients'] %><!-- It's a server -->
  <h3>Connected clients</h3>
  <% if vpn.data['status_update_seconds'] %>
    <p class="optinfo">List updated every <%= vpn.data['status_update_seconds'] %> seconds.</p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th>&ldquo;Common Name&rdquo;</th>
        <th>Real Address/Port</th>
        <th>Virtual Address</th>
        <th>Bytes Received</th>
        <th>Bytes Sent</th>
        <th>Connected Since</th>
      </tr>
    </thead>
    <tbody>
      <% vpn.data['clients'].each do |client| %>
        <tr>
          <td><code><%= client['Common Name'] %></code></td>
          <td><%= client['Real Address'] %></td>
          <td><%= client['Virtual Address'] %></td>
          <td><%= client['Bytes Received'] %></td>
          <td><%= client['Bytes Sent'] %></td>
          <td><%= client['Connected Since'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3><span class="product-name">OpenVPN</span> log</h3>
<%=
  erb(:"system/_log.html", :layout => false, :locals => {:log => log})
%>


