<h2>Certificate</h2>
<% if msg[:ok] %>
  <p>Certificate has been successfully uploaded.</p>
<% else %>
  <div class="error" style="padding: 0.4em;">
    <% if msg[:err_html] =~ /\S/ %>
      <p><%= msg[:err_html] %></p>
    <% else %>
      <% if msg[:err].kind_of? OpenSSL::X509::CertificateError %>
        Invalid certificate. <em>OpenSSL</em> reported: <span style="margin-left:1ex;">&ldquo;<code><%= escape_html msg[:err] %></code>&rdquo;.</span>
      <% elsif msg[:err].kind_of? ::OnBoard::Crypto::SSL::ArgumentError %>
        Cerificate error:
          <code style="margin-left:1ex;"><%= escape_html msg[:err] %></code>.
      <% else %>
        <pre><%= escape_html msg[:err] %></pre>
      <% end %>
    <% end %>
    <% if msg[:stderr] =~ /\S/ %>
      <pre><%= escape_html msg[:stderr] %></pre>
    <% end %>
  </div>
<% end %>
<% if request.referer =~ /\S/ %>
  <p>
    (<a href="<%= request.referer%>">Back</a>).
  </p>
<% end %>

