<%
  vmstatus_opts ||= {}
  vmstatus = vm.status(vmstatus_opts)
%>
    <table id="vmlist">
      <thead>
        <tr>
          <th>Status</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%
            extra_class = case vmstatus
                          when /error/i
                            'error'
                          when /snapshot/i
                            'warn'
                          else
                            ''
                          end
          %>
          <td id="status[<%= vm.uuid %>]" rowspan="2" class="vminfo <%= extra_class %>">
            <%= vmstatus %>
          </td>

          <% show_saverestore = ( 
              vm.quick_snapshots? and vm.running? or vm.config['-loadvm'] ) %> 
          <% action_button_rowspan = 1 %>
          <td class="button button_left" rowspan="<%= action_button_rowspan %> "id="button_power_wrapper[<%= vm.uuid %>]" >
            <%= 
              partial(
                :module => 'qemu',
                :path   => 'virtualization/qemu/vm/buttons/_power',
                :locals => {
                  :vm     => vm,
                }
              )
            %>
          </td>
          <td class="button" rowspan="<%= action_button_rowspan %>" id="button_resumepause_wrapper[<%= vm.uuid %>]">
            <%=
               partial(
                :module => 'qemu',
                :path   => 'virtualization/qemu/vm/buttons/_resumepause',
                :locals => {
                  :vm     => vm,
                }
              )
             
            %>
          </td>
          <td class="button" rowspan="<%= action_button_rowspan %>" id="button_quit_wrapper[<%= vm.uuid %>]">
            <%=
               partial(
                :module => 'qemu',
                :path   => 'virtualization/qemu/vm/buttons/_quit',
                :locals => {
                  :vm     => vm,
                }
              )
            %>
          </td>
          <td class="button button_right" rowspan="<%= action_button_rowspan %>" id="button_delete_wrapper[<%= vm.uuid %>]">
            <%=
               partial(
                :module => 'qemu',
                :path   => 'virtualization/qemu/vm/buttons/_delete',
                :locals => {
                  :vm     => vm,
                }
              )
            %>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="saverestore<%= ' lowlight' unless show_saverestore %>"> 
            <input style="vertical-align:middle;" type="checkbox" <%= 'checked' if show_saverestore %> <%= 'disabled' unless show_saverestore %> id="saverestore[<%= vm.uuid %>]" name="saverestore[<%= vm.uuid %>]" onclick="javascript:qemuSaveRestoreControls('<%= vm.uuid %>');"/>
            <span style="vertical-align:middle;"><%= vm.running? ? 'Save state on Quit' : 'Restore state' %></span>
          </td>          
        </tr>
      </tbody>
    </table>


