<% 
  require 'onboard/network/access-control/chilli'

  new_default_chilli = OnBoard::Network::AccessControl::Chilli.new(
    :conffile => OnBoard::Network::AccessControl::Chilli::DEFAULT_NEW_CONF_FILE
  )
%>

<h2>Network Access Controller (ChilliSpot)</h2>
<p class="credits">Based on <a href="http://coova.org/CoovaChilli">CoovaChilli</a>.</p>

  <%=
    erb(
      :"/_messages.html",
      {
        :layout => false,
        :locals => {
          :msg => msg,
          :status => status
        }
      }
    )
  %>


<h3>Configured and/or running instances</h3>

<table>

  <thead>
    <tr>
      <th>Interface</th>
      <th>Network</th>
      <th>Listen address</th>
      <th>DHCP range</th>
      <th>Running?</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% objects.sort{|x, y| x.conf['dhcpif'] <=> y.conf['dhcpif']}.each do |chilli| %>
      <tr>
        <td><%= chilli.conf['dhcpif'] %></td>
        <td><%= chilli.conf['net'] %></td>
        <td><%= chilli.conf['uamlisten'] %></td>
        <td><% if chilli.dhcp_range %><%= chilli.dhcp_range.first.to_s %> - <%= chilli.dhcp_range.last.to_s %><% end %></td>
        <td style="text-align: center;"><%= yes_no_icon(chilli.running?, :print_no) %></td>
        <!-- Actions -->
        <td style="text-align: center;">
          <form method="POST">
            <input type="hidden" name="_method" value="put"/>
            <% if chilli.running? %>
              <input type="hidden" name="restore_interface" value="on"/><!-- this could easily become a checkbox -->
              <button name="stop" value="<%= chilli.conf['dhcpif'] %>" type="submit" title="Stop!" <% unless chilli.managed? %>disabled<% end %>>
                <img src="<%= icondir + '/' + iconsize + '/actions/media-playback-stop.png'%>" alt="Stop"/>
              </button>
            <% else %>
              <input type="hidden" name="save_interface" value="on"/><!-- this could easily become a checkbox -->
              <button name="start" value="<%= chilli.conf['dhcpif'] %>" type="submit" title="Start!" <% unless chilli.managed? %>disabled<% end %>>
                <img src="<%= icondir + '/' + iconsize + '/actions/media-playback-start.png'%>" alt="Start"/>
              </button>
            <% end %>
          </form>
        </td>
        <td style="text-align: center;">
          <form method="POST">
            <input type="hidden" name="_method" value="put"/>
            <button name="restart" value="<%= chilli.conf['dhcpif'] %>" type="submit" title="Restart!" <% unless chilli.managed? && chilli.running? %>disabled<% end %>>
              <img src="<%= icondir + '/' + iconsize + '/actions/reload.png'%>" alt="Reload"/>
            </button>
          </form>
        </td>
        <td style="text-align: center;">
          <a href="chilli/<%= chilli.conf['dhcpif'] %>.html">
            <button title="View<% if chilli.managed? %>/Edit<% end %> Configuration"><img style="border:0;" src="<%= icondir + '/' + iconsize + '/actions/system-run.png'%>" alt="Configuration"/></button> 
          </a>
        </td>
        <td style="text-align: center;">
          <form method="POST" action="chilli/<%= chilli.conf['dhcpif'] %>.html">
            <input type="hidden" name="_method" value="delete">
            <% if chilli.managed? %>
              <button type="submit" title="Delete!"><img src="<%= icondir + '/' + iconsize + '/actions/delete.png'%>" alt="Delete"/></button>
            <% else %>
              <button type="submit" title="Delete!" disabled><img src="<%= icondir + '/' + iconsize + '/actions/delete.png'%>" alt="Delete"/></button>
            <% end %>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<h3>Create New</h3>

<form method="POST">
  <%=
    format(
      :module => 'chilli',
      :path => '/network/access-control/chilli/_ifconfig',
      :partial => true,
      :objects => new_default_chilli,
      :format => 'html',
      :msg => msg
    )
  %>
  <div style="margin-top:1em;">
    <button type="submit">Create!</button>
    <span style="font-style:italic;">(<input type="checkbox" name="start_now" checked/> and start immediately)</span>
  </div>
</form>
