<h2>Captive Portal</h2>
<p class="credits">Based on <a href="http://coova.org/CoovaChilli">CoovaChilli</a>.</p>

<h3>Configured and/or running Captive Portal instances</h3>

<table>

  <thead>
    <tr>
      <th>Interface</th>
      <th>Network</th>
      <th>Listen address</th>
      <th>DHCP range</th>
      <th>Configuration</th>
    </tr>
  </thead>
  <tbody>
    <% objects.sort{|x, y| x.conf['dhcpif'] <=> y.conf['dhcpif']}.each do |chilli| %>
      <tr>
        <td><%= chilli.conf['dhcpif'] %></td>
        <td><%= chilli.conf['net'] %></td>
        <td><%= chilli.conf['uamlisten'] %></td>
        <td><%= chilli.dhcp_range.first.to_s %> - <%= chilli.dhcp_range.last.to_s %></td>
        <td>
          <% if chilli.managed %>
            <a href="chilli/<%= chilli.conf['dhcpif'] %>.html">View/Edit</a>
          <% else %>
            <a href="chilli/<%= chilli.conf['dhcpif'] %>.html">View</a> <span class="warn">(not managed)</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<h3>Create New</h3>

<%=
  format(
    :module => 'chilli',
    :path => '/network/access-control/chilli/_ifconfig',
    :partial => true,
    :objects => nil,
    :format => 'html'
  )
%>

